[2020-08-24 21:45] nutjob4life opened #1 "Meeting List changes"
## 🤔 Tell Us About the Feature

Goal: simplify finding a meeting.

## 🎇 What Solution You'd Like

1. Make "Find a Meeting" go directly to the [2020 meeting list](https://recoverydharma.org/meeting-list). This is the all-caps "FIND A MEETING" with icon right on the [home page](https://recoverydharma.org/).
2. Remove all other meeting list pages from the site (but leave redirections to the [2020 mee

[2020-08-24 21:53] nutjob4life opened #2 "Post Minutes"
(Via email from lacey@recoverydharma.org)

## 📕 Summary

Post two sets of minutes (attached).

## 🔍 Details

Probably to this page: https://recoverydharma.org/about-our-nonprofit ❓❓❓

## 📈 Attachments

- [_082020 Minutes- BoD Meeting .pdf](https://github.com/RecoveryDharma/website/files/5120402/_082020.Minutes-.BoD.Meeting.pdf)
- [2020 Annual Board Meeting minutes .pdf](https://github.com/Recovery

[2020-08-24 22:09] KrisRecoveryDharma commented on #1
Close.
Yes: Remove all other current links
Add the links to the tabs in the menu (this is redundant to the 2020 meeting list page)

[2020-08-24 22:22] nutjob4life commented on #1
OK, the MEETINGS menu item will look something like this:
[code]
with each link under "By Timezone" will be a corresponding link to https://docs.google.com/spreadsheets/d/13sb_3p0pX-WLMnQP9kOszR1WE5LeeeamycD_carKn0g/view#gid=1085980187

In addition, the "Submit/Update" link will allow people to submit a new meeting or update an existing one.

[2020-08-24 22:31] KrisRecoveryDharma commented on #1
Next step: Create a query from the spreadsheet that shows active in-person meetings.

[2020-08-24 22:41] nutjob4life commented on #1
Hah! Yes @KrisRecoveryDharma … but for that, I recommend [filing a new issue](https://github.com/RecoveryDharma/website/issues/new/choose) 😉

[2020-08-25 02:42] nutjob4life commented on #1
Changes installed and are now live on https://recoverydharma.org/ with redirects installed, updated menu items, and fixed home page link.

Feel free to re-open this issue if the changes don't work as expected.

[2020-08-25 07:46] KrisRecoveryDharma commented on #1
Umm... it looks the same to me perhaps the changes didn't go live?

On Mon, Aug 24, 2020, 10:42 PM Sean Kelly <notifications@github.com> wrote:

[2020-08-25 18:04] Lacey-boop commented on #2
Yes under Minutes section thank you!

[2020-08-25 18:36] nutjob4life commented on #2
Both posted under Minutes; see the newly updated page at https://recoverydharma.org/about-our-nonprofit

[2020-08-25 18:36] #2 closed

[2020-08-25 23:26] KrisRecoveryDharma commented on #2
The menu looks great! Thank you.  Now, the next thing is to adjust the text of the Meeting page.  My brain is working a lot better this evening. I will send you the text.

[2020-08-26 20:49] Lacey-boop opened #3 "Board members"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [X ] deleting content

Please take Dirk and Critter photos and names off the Board of Directors page: https://recoverydharma.org/about/board-of-directors
thank you!

[2020-08-26 21:34] nutjob4life commented on #3
Hi @Lacey-boop thanks for the notice. I've removed Dirk & Critter. You can see the updated page at https://recoverydharma.org/about/board-of-directors and here is a screen shot.

![Screen Shot 2020-08-26 at 4 33 30 PM](https://user-images.githubusercontent.com/814813/91359331-f98db080-e7b9-11ea-8920-389c0181bd79.png)

[2020-08-26 21:34] #3 closed

[2020-08-31 18:19] nutjob4life opened #4 "Bulletin on Demo Thingie"
## 📕 Summary

Add a bulletin about the demo thingie.

- [x] new content
- [ ] replacing existing content
- [ ] deleting content

This goes on the https://recoverydharma.org/bulletins page.

## 🔍 Details

Replace this with detailed information about the request. For new content, make sure to mention
- "Demo Thingie" title
- This is a bulletin about a demonstration thing that we want posted on the b

[2020-08-31 18:33] KrisRecoveryDharma commented on #1
Content Change:
Meeting list page:  https://recoverydharma.org/meeting-list

Replace the text under Online Meeting with the list of links to the meeting list tabs.
Current: ![image](https://user-images.githubusercontent.com/70176719/91753404-dbe39100-eb95-11ea-934d-9914d500c90c.png)

Update:
FIND A MEETING
Online Meetings
- Click on the link below for meetings listed in a time zone near you
(Use H

[2020-08-31 18:43] nutjob4life commented on #1
Re-opened on @KrisRecoveryDharma's behalf

[2020-08-31 18:45] KrisRecoveryDharma opened #5 "Bulletin for Web Developer"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Make sure you mention URLs! Tell where the content should appear, get changed, be deleted, etc.

https://recoverydharma.org/bulletins

## 🔍 Details

Please add this Bulletin:

WEBSITE REDESIGN REQUEST FOR PROP

[2020-08-31 18:48] nutjob4life commented on #1
Updated page to reflect request in https://github.com/RecoveryDharma/website/issues/1#issuecomment-683954079

[2020-08-31 18:48] #1 closed

[2020-08-31 18:50] nutjob4life commented on #5
Posted under "Bulletins"!
![Screen Shot 2020-08-31 at 1 50 30 PM](https://user-images.githubusercontent.com/814813/91755573-f5cea500-eb90-11ea-8996-b8f93a1775fb.png)

[2020-08-31 18:50] #5 closed

[2020-08-31 21:35] KrisRecoveryDharma commented on #1
Sorry, one more change:
Replace the phrase "Issue Affinity" with the phrase:  Topic

[2020-08-31 21:58] nutjob4life commented on #4
This was just to demo issue tracking

[2020-08-31 21:58] #4 closed

[2020-09-01 00:31] Lacey-boop opened #6 "meeting changes email not working"
## 📕 Summary

The RD meeting email is not working- I got a bounce back today when I tested it. The emails from people about updating meeting changes are all coming to the info@ email now.

Could you look into it? Maybe its just written incorrectly on the [page](https://recoverydharma.org/meeting-list)this is how it reads now: RDMtgList@RecoveryDharma.org

thank you!

[2020-09-01 01:35] KrisRecoveryDharma commented on #6
Message was just sent to Dirk who will create the emails.  Web will be directed to Sean.  Meeting will be directed to Craig and Kris

[2020-09-01 01:36] KrisRecoveryDharma commented on #6
Timeline is to have the emails working by 9/1/20

[2020-09-01 03:21] nutjob4life commented on #1
Issue well and truly closed!

[2020-09-01 04:27] KrisRecoveryDharma commented on #6
The emails will be Meetings@recoverydharma.org and Web@recoverydharma.org

[2020-09-01 14:50] KrisRecoveryDharma opened #7 "Contact Email Update"
Find and replace Contact emails for Website Coordinator and Meeting List Coordinator

New emails:
Web@recoverydharma.org
Meetings@recoverydharma.org

Just tracking here so I am notified as soon as complete so I can make announcement about new list.

[2020-09-01 18:35] nutjob4life commented on #7
So far as I know, `web@recoverydharma.org` is now active.

When `meetings@` is ready, I'll go ahead and update the site, @KrisRecoveryDharma 😀

[2020-09-01 23:43] nutjob4life commented on #7
@KrisRecoveryDharma texted me:

So I will go ahead and make all the updates!

(Next time Kris, feel free to comment here directly 🤗)

[2020-09-01 23:47] nutjob4life commented on #7
Made the following updates:

- On the page https://recoverydharma.org/meeting-list, `RDMtgList@RecoveryDharma.org` → `meetings@RecoveryDharma.org`
- On the page https://recoverydharma.org/contact, changed `GitHub` to `Tech Suport`, added email `web@RecoveryDharma.org`.

[2020-09-01 23:47] #7 closed

[2020-09-01 23:48] nutjob4life commented on #7
@KrisRecoveryDharma this issue is now closed.

If there are further refinements you'd like related to this change, add a comment in the box below and click the white "Reopen and comment" button. Or submit a brand new issue by clicking the green "New issue" at the upper right.

[2020-09-02 16:00] KrisRecoveryDharma opened #8 "Create Sheet for In Person Meeting"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

We need to create a Report Sheet that pulls and shows the In Person Meetings for Recovery Dharma. At this point, there are only 5 meetings, but they need representation.  Hopefully, we will be back to a full f

[2020-09-02 16:03] nutjob4life commented on #8
Where's the array @KrisRecoveryDharma? To what sheet does it need to be copied?

[2020-09-02 16:10] nutjob4life commented on #8
@KrisRecoveryDharma I think I see what you mean, but I'm terrible at Google Sheets.

Perhaps we should ask A Thomas Tran?

[2020-09-03 00:24] KrisRecoveryDharma commented on #6
Please cha ge the email address on this page:

URL:
https://recoverydharma.org/meeting-list

ADD OR UPDATE A MEETING
Submit meeting changes due to Covid-19
Submit new information
If follow up is needed, contact

[2020-09-03 19:06] KrisRecoveryDharma commented on #8
I am not sure I am using the right language, or if Array is the right tool.

I want to pull records from the Unsorted Sheet into a new sheet. This new
sheet would list all of the in person meetings. Right now, there are only
5, so they can all be listed together.  I am hopeful that before the list
becomes too large, the new database will be active.

On Wed, Sep 2, 2020 at 12:04 PM Sean Kelly <noti

[2020-09-04 01:24] Lacey-boop commented on #6
Hi it looks like the inquiry email on [this page](https://recoverydharma.org/meeting-list) still needs to be changed to meetings@recoverydharma.org

[2020-09-04 13:46] nutjob4life commented on #8
Sounds all good @KrisRecoveryDharma but this is outside of my skillset. I recommend assigning @unity1979.

[2020-09-04 13:47] nutjob4life commented on #6
@Lacey-boop done.

[2020-09-04 13:47] #6 closed

[2020-09-04 23:51] KrisRecoveryDharma opened #9 "Add links to In Person meetings and New Time Zone Tabs to Meeting List Page"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content

Page to Change: Meeting List: **https://recoverydharma.org/meeting-list**

**Hyperlinks for New Meetings and Time Zones.**
(In this order)

**In Person Meetings**  https://docs.google.com/spreadsheets/d/13sb_3p0pX-WLMnQP9kOszR1WE5LeeeamycD_carKn0g/edit?usp=sharing

[2020-09-04 23:53] KrisRecoveryDharma opened #10 "Proposal: Lock Meeting List to only Web Team Members"
I propose that we lock the meeting list so that only web team members may edit it.  Everyone else is view only.

If the task of updating the list is too much for one person, then we can set up a system where either requests go to all of us, or maybe we alternate weeks, or something so that no one person is on-call all of the time.

Thoughts?

Kris

[2020-09-05 00:01] nutjob4life commented on #9
@KrisRecoveryDharma, It looks like the links above were copied from Facebook.

I'll see if I can remove the Facebook tracking codes.

[2020-09-05 00:07] nutjob4life commented on #9
@KrisRecoveryDharma, the page at https://recoverydharma.org/meeting-list is now updated.

[2020-09-05 00:08] nutjob4life commented on #10
Sounds reasonable to me @KrisRecoveryDharma.

@unity1979 is this something you can do?

[2020-09-05 00:20] #8 closed

[2020-09-05 00:20] KrisRecoveryDharma commented on #8
Thom and Kris completed this task today.

[2020-09-05 00:21] nutjob4life commented on #8
Thank you @KrisRecoveryDharma  and @unity1979! 🎉

[2020-09-05 00:22] KrisRecoveryDharma commented on #9
Hmm..  I am confused. I copied them directly from the URL in the google sheet.  Maybe I should have use the "copy link" feature for sharing?

[2020-09-05 00:29] KrisRecoveryDharma commented on #9
They are now updated with the "copy link" from the share menu in the google sheet.

[2020-09-05 00:32] KrisRecoveryDharma commented on #9
I missed one on the list

**Women NonBinary** ttps://docs.google.com/spreadsheets/d/13sb_3p0pX-WLMnQP9kOszR1WE5LeeeamycD_carKn0g/edit?usp=sharing

And I missed requesting an update to the menu bar

[2020-09-05 00:33] KrisRecoveryDharma commented on #10
Thank you for moving towards assignment.  This is a task that I can complete. I just wanted to make sure we are all in agreement.

Kris

[2020-09-05 00:38] KrisRecoveryDharma commented on #10
Sean - were you referring to the task of making the sheet private or the task of joining the team to monitor the list requests?

One of the essential priorities I set for the new list and the new site was an action user feature with the meeting list so that groups could update their listing themselves. So, this will hopefully only be a process that is in place until November.

[2020-09-05 00:53] nutjob4life commented on #9
Re-opened on @KrisRecoveryDharma behalf for the above comment 🤗

[2020-09-05 01:11] KrisRecoveryDharma commented on #9
Damit - one more

Atlantic:

[2020-09-05 01:25] KrisRecoveryDharma commented on #9
Are you suggesting that we leave the zime zone list off of the menu because it takes too long to load?

I can support that.

[2020-09-05 01:29] nutjob4life commented on #9
@KrisRecoveryDharma question: Where should Atlantic go? After "Eastern US" and before "UK"?

Also, no, I'm not suggesting we leave it off. It's not a loading speed issue. It's just that _changes_ to the menu take time to appear. Even if we changed _one letter_, it can take an hour for it to show up for everyone.

[2020-09-05 01:37] KrisRecoveryDharma commented on #9
Yes, exactly!  Atlantic should be listed after eastern and before UK.

Ohh!  Okay on the new content loading piece.

Thank you !!!!

[2020-09-05 01:49] nutjob4life commented on #9
Added "Atlantic" to the page https://recoverydharma.org/meeting-list and to the "Meetings" menu. It may take some time for these changes to appear (especially the menu) but they should be live any moment now. Here's a screenshot of the new menu:

![Screen Shot 2020-09-04 at 8 46 11 PM](https://user-images.githubusercontent.com/814813/92294223-dc5e8d80-eeef-11ea-9da6-d220bafff290.png)

If this is O

[2020-09-05 02:03] KrisRecoveryDharma commented on #9
It looks great! thank you!

[2020-09-05 02:03] #9 closed

[2020-09-05 02:03] nutjob4life commented on #9
You are welcome. Thank you for your patience, @KrisRecoveryDharma!

[2020-09-05 02:50] unity1979 commented on #10
I can do this.  One small change however--instead of locking meeting list to **"View Only"** mode, I might suggest:

**Proposal**: Change rights from "Editor" to "Comment Only" mode.
**Reason**:
1) Comment Only rights removes risks of deleting/destroying the spreadsheet.
2) Reduces the effort required to update a meeting.  Commenters could simply leave a comment on a specific cell, telling us exac

[2020-09-05 02:55] unity1979 commented on #10
So for me to proceed: let me know if/when it's ok for me to:
1) Update all non-member access to **Comment Only** mode

Else please advise on how to proceed

[2020-09-05 04:01] KrisRecoveryDharma commented on #10
HI Sean and Thom,

Thank your for your thoughts. Unfortunately, it does not appear that
commenting is an option with google sheets. It appears to be either "edit
or no." Thank you for the offer to take-on the ask.  Apparently I am not
yet feeling ready to delegate this task to others. I also want to make sure
we don't many any changes until after Craig checks in.

Thanks,

Kris

On Fri, Sep 4, 202

[2020-09-05 12:05] unity1979 commented on #10
By clicking the green [Share] button in the upper right corner, we can set permission levels, notice:
![image](https://user-images.githubusercontent.com/70724023/92304736-654be800-ef35-11ea-975c-b2dd2374ef8d.png)

[2020-09-06 15:35] KrisRecoveryDharma opened #11 "Redirect Meeting URLs"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] replacing existing content

**https://recoverydharma.org/meetings**  needs to point to our main, active meeting list.

I am not sure if the solution is to redirect or to make it direct.  There are many people out there who have the page bookmarked - including our organizational

[2020-09-06 15:41] nutjob4life commented on #11
@KrisRecoveryDharma I am *not* seeing the URL `https://recoverydharma.org/meetings` go to the 12 Step Meeting List database as of today, 2020-09-06.

What I currently see:

- Redirection from `https://recoverydharma.org/meetings` → `https://recoverydharma.org/meeting-list`
- `https://recoverydharma.org/meeting-list` gives page content

Either way, users end up at a meeting list.

Could you provide

[2020-09-06 15:55] KrisRecoveryDharma commented on #10
I like the idea of making it Comment friendly.  I swear, it was not showing up last night when I looked!  Or maybe I had a blind spot.  That happens when I'm tired.  Same thing happens with my keys as they are sitting right in front of me.

We could just mark the overall sharing level as  "Anyone with the link can comment."   Until or unless we get trouble with trolls, I would prefer that.  It mea

[2020-09-06 15:59] KrisRecoveryDharma commented on #11
It looks like it is working fine now.
Thanks!

[2020-09-06 15:59] #11 closed

[2020-09-06 16:13] nutjob4life commented on #11
Woot woot! Great to hear @KrisRecoveryDharma! Thank you for checking 🎉

[2020-09-09 00:16] nutjob4life opened #12 "Financial Reports for Website"
## 📕 Summary

- [x] new content - post PDF files

## 🔍 Details

Joel <joel@recoverydharma.org> sent Sean 5 PDFs (attached) to post on the site on 2020-09-08. The message was:

No other details given about linking; will make downloadable.

## 📈 Attachments

- [2020-06-30 Income Statement.pdf](https://github.com/RecoveryDharma/website/files/5191867/2020-06-30.Income.Statement.pdf)
- [2020-04-03 Inco

[2020-09-09 00:47] nutjob4life commented on #12
Posted as follows:

-  Income Statements
    - [2020-06-03](https://recoverydharma.org/wp-content/uploads/misc-content/jo-financials-2020-09-08/2020-06-30%20Income%20Statement.pdf)
    - [2020-04-03](https://recoverydharma.org/wp-content/uploads/misc-content/jo-financials-2020-09-08/2020-04-03%20Income%20Statement.pdf)
    - [2020-05-31](https://recoverydharma.org/wp-content/uploads/misc-content/j

[2020-09-09 12:56] nutjob4life commented on #12
Links added on the page https://recoverydharma.org/about-our-nonprofit

[2020-09-09 12:56] #12 closed

[2020-09-12 04:00] KrisRecoveryDharma opened #13 "Clarify difference between in person and online meeting list"
## 📕 Summary
Change existing content.
Issue:  The links to the meeting list is unclear.  It looks as though the online meetings are a subset of the In Person Meeting.  Below are my suggestions. Let me know if you can think of a better solution.

https://recoverydharma.org/meeting-list

Current:
FIND A MEETING
Online Meetings
Follow any of the links below for meetings listed in a time zone near you

[2020-09-12 15:54] KrisRecoveryDharma commented on #10
Craig has chimed in on slack that he agrees with this proposal.

I need to add one more change:  I need to shift my google account from roehlkris@gmail.com to kris@recoverydharma.org.

So, Editors include:
Craig Wilke - owner
Kris Roehing kris@recoverydharma.org
Sean Kelly - kelly@recoverydharma.org
A Thomas Tran - anthomas@gmail.com
Lacey Browne - lacey@recoverydharma.org

Should Thomas have a Re

[2020-09-12 16:15] unity1979 commented on #10
Updates have been made as follows:

All permissions have been set to "Commentor"  except for:
Webteam members have been set to "Editor" (currently Craig, Kris, Lacey, Sean, Thomas)

Btw @KrisRecoveryDharma, consolidating email to go to thomas@recoverydharma.org would be useful moving forward. Thank you

[2020-09-12 17:34] KrisRecoveryDharma opened #14 "Website Developer Proposal - Review, Comment, Recommend"
The call has gone out,  35 proposals were received.  9 developers are shortlisted and their proposals are gathered.

Website Team, Please review the proposals and give feedback. This includes follow up questions for the developers.
Website team meeting during the week of 9/13/20 date tbd.

Recommendations will be sent to the Board for their decision during their meeting on 9/24/20

Documents:

-

[2020-09-12 23:44] KrisRecoveryDharma commented on #10
Thank you Thomas for fixing the list!

1. Request for Recovery Dharma email for Thom has been sent to RDG Secretary.  As soon as we get that, then we can update the list.

2. The change to my email did not take, so I went in and made the switch to from my person email to my RD Email.

3. I changed the general permission to anyone with the link can comment.

[2020-09-13 14:55] KrisRecoveryDharma opened #15 "Column 3 on Meeting list is locked"
## 🐛 Describe the Bug

Meeting List Team:

We were talking about protecting column 3 of the meeting list. Perhaps I did it, but I don't remember  Now, I can't get into it in order to make the new meeting change updates.   It is now locked. I can change other parts of the page, but not that column.

The column needs to be unlocked so that editors can update the list. It is okay to unlock it now now

[2020-09-14 04:00] KrisRecoveryDharma commented on #15
Resolved.

[2020-09-14 04:00] #15 closed

[2020-09-14 04:01] KrisRecoveryDharma commented on #10
Issue will close once Thom has received Recovery Dharma Email.

[2020-09-14 16:18] nutjob4life commented on #13
The page at https://recoverydharma.org/meeting-list is updated.

The menu has also been updated, however because menus are "heavily cached" it may not show up right away for you.

For now, here's a screenshot of the new menu:
![Screen Shot 2020-09-14 at 11 16 37 AM](https://user-images.githubusercontent.com/814813/93111252-f7619800-f67b-11ea-8429-a3be7792eac3.png)

If this works out, go ahead and

[2020-09-14 17:04] KrisRecoveryDharma commented on #13
Looks great!
Thank you!
Kris

[2020-09-14 17:04] #13 closed

[2020-09-14 20:06] nutjob4life opened #16 "Modify the Feeling Tone Meditation Text"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] replacing existing content

This is on the sangha support page.

## 🔍 Details

Change "Feeling Tone" to "Emotional Bias".

[2020-09-14 20:08] catpanclub commented on #16
All done.

[2020-09-14 20:08] #16 closed

[2020-09-15 15:49] Lacey-boop opened #17 "082120 Board Minutes"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content

## 🔍 Details

Please upload latest 082120 minutes to https://recoverydharma.org/about-our-nonprofit-
[08212020 Minutes- BoD Meeting .pdf](https://github.com/RecoveryDharma/website/files/5226198/08212020.Minutes-.BoD.Meeting.pdf)

[2020-09-15 15:56] nutjob4life commented on #17
In progress

[2020-09-15 16:00] nutjob4life commented on #17
File uploaded and hyperlink installed on https://recoverydharma.org/about-our-nonprofit

If this looks okay @Lacey-boop please go ahead and close this issue. If not, add a comment and let me know what else to fix! 👍

[2020-09-15 16:05] #17 closed

[2020-09-15 17:26] nutjob4life commented on #17
Thanks for the ♥️ @Lacey-boop!

[2020-09-15 23:45] unity1979 commented on #10
![image](https://user-images.githubusercontent.com/70724023/93275841-dc258400-f772-11ea-818f-9db6d3f58ec8.png)

Verifying that I've received the Recovery Dharma email, thank you for your patience. 🙏

[2020-09-15 23:46] #10 closed

[2020-09-16 15:20] nutjob4life commented on #14
@KrisRecoveryDharma I'm trying to access the second link "Web Developer Proposals Folder lists all of the proposals in detail" but when I log into Google Drive with `kelly@recoverydharma.org` I get "access denied". Can this be opened up? 🙏

[2020-09-16 15:24] catpanclub commented on #14
Same for me.

[2020-09-16 17:41] KrisRecoveryDharma commented on #14
Sorry folks, I thought that the Website folder on the drive was public and accessible.  Dirk is working to reconfigure now. You should have access to the folder by this afternoon.
Kris

[2020-09-16 19:29] KrisRecoveryDharma commented on #14
I believe it is now available. Please confirm you can view it.
https://drive.google.com/drive/folders/1HU7KdApv5IyUZ0V5h1kxKZV5fWTHrcBK
Kris

[2020-09-16 20:47] KrisRecoveryDharma commented on #14
Evaluation Questions:
1. Does the proposal reflect that the developer listened to the needs and goals of RD?
2. Does the developer suggest any interesting, or unique solutions
3. Does the developer demonstrate capacity to deliver on promises?
4. Does the process meet our capacity to fulfill our part?
5. Inclusion, Diversity, Equity and Accessibility (IDEA)
6. Timeline and Cost

[2020-09-24 03:16] KrisRecoveryDharma commented on #14
IT Committee reviewed proposals and made recommendations.  Firespring was recommended. Two others were alternates.  Other proposals were not recomended

[2020-09-24 03:16] #14 closed

[2020-09-24 03:38] KrisRecoveryDharma opened #18 "Reconfigure Meetings Page to move content up toward the top"
https://recoverydharma.org/meeting-list

Move the two sections, Stay Connected" and "About Meeting List Process,"  From the bottom of the left column to the bottom of the right column (Under "Start a New meeting." The goal is to bring these two sections "above the fold"  so that that they are seen with the other content without scrolling

![image](https://user-images.githubusercontent.com/70176719

[2020-09-24 14:14] nutjob4life commented on #18
Hi @KrisRecoveryDharma! I moved the bottom two sections to the right column. Please view it at https://recoverydharma.org/meeting-list or view this screenshot:

![Screen Shot 2020-09-24 at 9 12 55 AM](https://user-images.githubusercontent.com/814813/94156905-38a93300-fe46-11ea-8a61-f3d4e3ec79dc.png)

If this looks okay, please go ahead and leave a comment saying so and click "Close with comment".

[2020-09-24 21:49] KrisRecoveryDharma commented on #18
Perfect!
It is Complete.
Thank you!
Kris

[2020-09-24 21:49] #18 closed

[2020-09-25 17:46] Lacey-boop opened #19 "91320 meeting minutes"
## 📕 Summary

Please add 09132020 minutes to this page:
[20200913 Minutes- BoD Meeting .pdf](https://github.com/RecoveryDharma/website/files/5284467/20200913.Minutes-.BoD.Meeting.pdf)

thanks!

[2020-09-25 21:23] nutjob4life commented on #19
Assuming the target page is: https://recoverydharma.org/about-our-nonprofit

It doesn't hurt to mention this when submitting, though!

[2020-09-25 21:27] nutjob4life commented on #19
Uploaded PDF attachment and added an extra link to https://recoverydharma.org/about-our-nonprofit

In the future, we may want to think of a better way to present this information. The page is looking funny and unbalanced currently.

![Screen Shot 2020-09-25 at 4 26 43 PM](https://user-images.githubusercontent.com/814813/94317481-0d107080-ff4c-11ea-9193-e6388a1cec0b.png)

[2020-09-25 21:27] #19 closed

[2020-09-28 23:32] unity1979 opened #20 "Update all Meeting links to Non-tabbed version of link"
[X] replacing existing content

## 🔍 Details

We need to (A) all these links to map to (B) new links, as mentioned below this image 🙏:
![image](https://user-images.githubusercontent.com/70724023/94495932-e0589500-01a7-11eb-8fc1-069d90a9bbce.png)

Tab/Time Zone Name | Published HTML Link:
-- | --
In Person | https://docs.google.com/spreadsheets/d/e/2PACX-1vQmuN3eHggYoR9maoLttce3MkZLTZ0UTByIv_lKK7Mb

[2020-09-30 00:58] nutjob4life commented on #20
Updated the page at https://recoverydharma.org/meeting-list and the "Meetings" mega-menu.

Please note that menu changes are heavily cached and may not appear for everyone right away. Just be patient! ⏳

Hope these links stabilize soon! 😯

[2020-09-30 00:58] #20 closed

[2020-09-30 15:59] nutjob4life opened #21 "Slack testing issue—please ignore"
Ignore this

[2020-09-30 19:45] nutjob4life commented on #21
Testing slack again

[2020-09-30 19:45] nutjob4life commented on #21
And closing again.

[2020-09-30 19:45] #21 closed

[2020-10-15 16:45] Lacey-boop opened #22 "2020-09-24 Board minutes"
Hello, please upload 9/24 minutes to this page: https://recoverydharma.org/about-our-nonprofit
thank you!

[24092020 Minutes- BoD Meeting .pdf](https://github.com/RecoveryDharma/website/files/5386492/24092020.Minutes-.BoD.Meeting.pdf)

[2020-10-18 18:56] KrisRecoveryDharma opened #23 "Need to add more columns to meeting list spread sheet"
Hey Meeting List Team,

I just received a stark awakening this week.  We were informed that the calendar plugin that they are using for the new website does not have the capacity to sort tags in a way that we are accustomed to.  I am experiencing quite the arising of quite the combination of emotions as the reality of it sets in.  Self-doubt that my repeated notes on this were not effectively comm

[2020-10-20 18:25] unity1979 commented on #23
More Topics in addition to: General, Food, Codependency,
Mental Health, Food, Gambling/Debt, Love/Intimacy, Porn/Sex, Trauma/PTSD, Self-Harm, Shopping/Spending, Social Media/Technology, Substances (Alcohol, Drugs, Prescriptions, etc)

[2020-10-21 00:16] unity1979 commented on #23
Codependency, Food, General,
Mental Health, Money (Debt/Shopping), Relationships (Love/Intimacy, Porn/Sex) Trauma/PTSD, Self-Harm, Technology(Social Media/Gaming/TV), Substances (Alcohol, Drugs, Prescriptions, etc)

[2020-10-21 02:19] joelro87 opened #24 "Sangha Summit Announcement for the Bulletins"
Hi,

I would like to add this announcement to the website.

Thanks,
Joel

https://docs.google.com/document/d/1Dz9p4dHME2NOBnLYggF6_JSgKQ9mf6B1izflo5RWfQU/edit

[2020-10-21 17:39] KrisRecoveryDharma opened #25 "President's Town Hall post on Bulletin"
## 📕 Summary

New Content:  Bulletin Announcement for President's Townhall on 10/24/20
https://recoverydharma.org/bulletins
## 🔍 Details

Replace this with detailed information about the request. For new content, make sure to mention
- Join us for the President's Townhall!
- Describes the content of the event, date & time and includes a join now link.
- Bulletin
- How it should be hyperlinked from

[2020-10-21 17:56] nutjob4life commented on #22
Added the 2020-09-24 minutes to the `about-our-nonprofit` page ✓

[2020-10-21 17:56] #22 closed

[2020-10-21 18:05] nutjob4life commented on #24
Posted; see permanlink: https://recoverydharma.org/requesting-bids-for-the-2021-sangha-summit

I went ahead and made some minor edits (2020→2021, changing hyphens to en-dashes for ranges, using bullet lists, etc). If I missed any problems, please re-open the issue with a comment.

[2020-10-21 18:05] #24 closed

[2020-10-21 18:14] nutjob4life commented on #25
Posted to bulletins; permanlink: https://recoverydharma.org/presidents-town-hall

Need any changes? Feel free to comment. If not, please go ahead and click "Close".

[2020-10-27 19:33] ctwilkie opened #26 "Need to redirect web address for meeting updates that still exist for the "Old" form"
The link: https://recoverydharma.org/meeting-list-request is still active. I've seen it linked on other non RD owned website "RD Friends act" for example.

We need to either redirect this link to:
New form:
https://docs.google.com/forms/d/e/1FAIpQLSf0LLyvNdQhwE6FHtI_V6IJ7EOpWKlx8y_sIQrgV1wuivrlzQ/viewform

Or Delete this link in general while we update the website.

[2020-10-27 23:21] KrisRecoveryDharma commented on #26
I vote for a redirect to the current meetings page.

[2020-10-29 19:29] nutjob4life commented on #26
Form: disabled ❌
Page containing form: trashed 🗑
Redirect to `/meeting-list`: installed 🔀
Ticket: closed 📪

Feel free to "reopen with comment" if this doesn't meet your expectations 😉

[2020-10-29 19:29] #26 closed

[2020-10-29 19:30] nutjob4life commented on #25
Closing this issue; the town hall on 2020-10-24 has passed

[2020-10-29 19:30] #25 closed

[2020-11-17 15:11] nutjob4life opened #27 "Reduce PDFs on new site but keep things printable"
## 🤔 Tell Us About the Feature

Currently, `recoverydharma.org` has _way too many PDFs_. This makes sense because people wrote meditations, community guides, scripts, etc., using Micro$oft Word or Google Docs and just ran off a PDF to posting and printing.

But a preponderance of PDFs poses a usability challenge, especially on mobile (where over half of all browsing occurs). Ideally, we'd like to

[2020-11-17 22:33] KrisRecoveryDharma commented on #27
I support this idea. Go for it!
Kris

On Tue, Nov 17, 2020 at 10:11 AM Sean Kelly <notifications@github.com>
wrote:

[2020-11-19 14:29] tom-raley commented on #27
@nutjob4life I don't believe I have access to the Wordpress site. I have some good tools to convert PDF to HTML, so once I get access to the files I can start turning the PDFs into pages and work on the printing aspect!

[2020-11-23 20:48] nutjob4life commented on #27
@tom-raley check your [email](mailto:tom.raley@gmail.com) for activation links for the [old site](https://recoverydharma.org/) and the [new site](http://recovery-dharma.flywheelsites.com/).

Note that for the new site, it's guarded behind an HTTP Basic auth challenge. You'll need the username and password for _that_ as well. I'll send you those using another medium.

[2020-11-27 18:44] joelro87 opened #28 "Bid Requirement Update"
Update to Bid Requirements Bulletin

We are wanting to add a piece about diversity and accessibility to the bid requirements.

"Accessibility and Inclusion: All venues need to be accessible and inclusive to be positioned to welcome and celebrate our diverse sangha. Your bid will outline briefly what accessible and inclusive means for all venues being proposed. The very composition of your host com

[2020-11-27 21:18] KrisRecoveryDharma opened #29 "Upload Minutes and Treasurers Report to Firespring Content Folder"
RD Board Meeting Minutes and Treasurer Reports are folders 8 and 9 of the content for Firespring.
https://drive.google.com/drive/folders/1L1qedPRAZCevGUS0I71E7UWsJj-y21Zm?usp=sharing

I, Kris, find that I do not know the location of the public version of these documents. I do see them in our Recovery Dharma Drive, but I am uncertain about how to transfer them to these Firespring Files.

I need tec

[2020-11-28 18:02] nutjob4life commented on #28
In future, please include the URL of the page to be updated. I had to search around for a bit before I realized this isn't the "Bid Requirements Bulletin" but the Sangha Summit 2021 bulletin! 😂

Post updated! Please see the permalink at: https://recoverydharma.org/requesting-bids-for-the-2021-sangha-summit

[2020-11-28 18:12] nutjob4life commented on #29
Nothing too magic about this:

- I just clicked each board meeting and each treasurer report one at time with my browser while visiting https://recoverydharma.org/about-our-nonprofit …downloading each file to my computer
- I then dragged each file from my computer into the Google Drive browser window opened to folders 8 and 9.

Not high tech at all, just brute force! ☺️

[2020-11-28 18:12] #29 closed

[2020-11-28 18:20] KrisRecoveryDharma opened #30 "Bulletin - RDG Board Elections 2021"
## 📕 Summary

The Board Elections Document needs to be loaded onto the Bulletin

https://docs.google.com/document/d/e/2PACX-1vQTum1ttCnga8Pe6JGRdKTpfNUycoeHZvxjD5dZjLVrqa-yYueO879JmPsfl_Nu64inknvj8MzN81_a/pub

Replace this with a brief description of the content you want changed. Make sure to check if this is
- X new content

## 🔍 Details

- Title - Replace this with detailed information about the

[2020-11-28 18:25] KrisRecoveryDharma commented on #29
Ahh!  It was the downloading bit that escaped my realm of possibilities.
Thank you!
Kris

On Sat, Nov 28, 2020 at 1:12 PM Sean Kelly <notifications@github.com> wrote:

[2020-11-28 18:32] nutjob4life commented on #30
@KrisRecoveryDharma see a preview at https://recoverydharma.org/board-elections-2021

Does this look all right?

[2020-11-28 18:59] KrisRecoveryDharma commented on #30
Excellent! Thank you!

On Sat, Nov 28, 2020 at 1:33 PM Sean Kelly <notifications@github.com> wrote:

[2020-11-28 19:01] KrisRecoveryDharma commented on #30
Please add this line underneath the title in the bulletin

Recovery Dharma Global (RDG) Board of Directors is opening nominations for the upcoming board election.

[2020-11-28 19:06] KrisRecoveryDharma commented on #28
The publish date for the Bid document is 10/20/2020.  Please change date for the publish date to 11/27/2020 so that it will show above the announcement for the President's townhall and below the announcement for the Board Elections.

[2020-11-28 19:50] #28 closed

[2020-11-28 19:51] KrisRecoveryDharma commented on #23
This issue has replaced by work with Firespring on new CSV file.

[2020-11-28 19:51] #23 closed

[2020-11-28 19:52] KrisRecoveryDharma commented on #27
Checking on the status of this project.
How's it going?
Thanks for your work!
Kris

[2020-11-28 19:54] joelro87 opened #31 "Update from the Summit Sangha Committee"
Hi, this is an update from the Sangha Summit Committee to be placed as a new bulletin.

"Hi Recovery Dharma Sangha!

A reminder that the Sangha Summit Committee is looking for interested host cities for the 2021 Sangha Summit in July! Details at the link below!

Our current plan for 2021 is a hybrid event that combines in person workshops with video access for members across the globe. Host cities

[2020-11-28 20:01] tom-raley commented on #27
@KrisRecoveryDharma Ive just about got all of the meditations done. Haven’t had much time this weekend so far, hoping to finish the other PDFs Monday or Tuesday.

[2020-11-28 20:47] KrisRecoveryDharma commented on #27
List of pages to be created by RDG in concert with Firespring

Book
IDEA
The Practice
Truth
Eightfold
Meditation
Core-Intentions
Dedication
Format

[2020-11-29 04:23] KrisRecoveryDharma commented on #27
Request:  Use templates within the Portfolio Section
Portfolio
   Project Category
       Category
          Examples

[2020-11-29 13:36] nutjob4life commented on #31
Posted; see https://wp.me/p9QaBE-5xb

[2020-11-29 13:36] #31 closed

[2020-11-29 13:42] nutjob4life commented on #30
@KrisRecoveryDharma does this look right?  https://recoverydharma.org/board-elections-2021

[2020-11-29 18:51] KrisRecoveryDharma commented on #30
Perfect! Thank you

[2020-11-29 18:51] #30 closed

[2020-11-30 15:28] tom-raley commented on #27
@KrisRecoveryDharma @nutjob4life I have all the meditations and meeting materials converted over from PDFs to pages now and the printing is looking pretty good. You can check out the progress at http://recovery-dharma.flywheelsites.com/resources/

How deep do we want to go--ie should the book be its own page (I'm thinking not)? And as far as flyers and pamphlets, I'm thinking those should also rem

[2020-11-30 17:41] KrisRecoveryDharma opened #32 "Wishlist idea: Sectioned PDF version of Book"
## 📕 Summary

This is on a wish list priority, so getting to it as we have time.  It would be very helpful, though the have a sectioned version of the PDF of the book.  Here is an example from AA:
https://www.aa.org/pages/en_US/alcoholics-anonymous

Replace this with a brief description of the content you want to be changed. Make sure to check if this is
- [X] new content

Make sure you mention UR

[2020-12-01 00:36] unity1979 commented on #32
Would love to help with this project.

[2020-12-01 05:04] KrisRecoveryDharma commented on #27
This is spectacular! Thank you!!!!!!
<<Communications Committee Chair Happy Dance!>>

This is so helpful.  It is wonderful progress!
I do have a few adjustments, but now we can have a look at this and move
forward.

Thank you than you thank you!

Let me know if you would like to chat by phone / Zoom or you would like me
to just list my next steps here.  I would prefer to chat by phone because I
am

[2020-12-01 13:31] tom-raley commented on #27
@KrisRecoveryDharma Thanks!! I’d love to hear your thoughts, I’m pretty open today and tomorrow, let’s try and do a zoom call. Only time I can’t do is 10:30-11:30 eastern.

[2020-12-01 15:20] Lacey-boop opened #33 "New Bulletin"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

Doc to be added to: https://recoverydharma.org/bulletins

## 🔍 Details

Please upload Town Hall meeting minutes as a Bulletin entry.

Intro should read:
Please find the minutes for the September 2020 Board Tow

[2020-12-01 19:31] Lacey-boop opened #34 "mailing address update"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [X ] replacing existing content
- [ ] deleting content

On the contact page https://recoverydharma.org/contact
please update the address with our new mailing address:
3439 NE Sandy Blvd # 827
Portland, OR 97232

thank you!

[2020-12-01 19:32] Lacey-boop opened #35 "Board of Directors change"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [X ] deleting content

Please take Paul out of the list of Directors: https://recoverydharma.org/about/board-of-directors

thank you!

[2020-12-01 21:36] KrisRecoveryDharma commented on #32
Okay, Thom, consider it yours!

I was thinking that we would be using this version of the book: https://recoverydharma.org/wp-content/uploads/misc-content/Recovery_Dharma-v1.0.pdf

It matches up in page numbers and it seems to be more accessible to more people.

thoughts?

[2020-12-01 21:38] KrisRecoveryDharma commented on #32
I say go wtih the table of contents.
We do also want to try to keep the page numbers so that those in a meeting who are using the paper book and those who are reading on line will be able to  each find the page with ease.

Not sure if that is possible, but I thought I'd put it out there.

[2020-12-01 22:52] unity1979 commented on #32
Awesome!  Agreed 100% with keeping the page numbers.

Re page overlap: Some sections of the Eightfold path overlap, starting halfway down the page. (e.g. Wise Understanding -> Wise Intention (pg 24))

If we're making separate PDFs for each section standing alone, do we can to do A B C D (or ___?) Here's a mockup
![image](https://user-images.githubusercontent.com/70724023/100806137-ca07c900-33e4-11

[2020-12-02 01:33] KrisRecoveryDharma commented on #32
I think A is the strong winner here since it keeps the context, but also
creates a highlight.
That is a really fabulous alternative! I was a solution I didn't even
envision possible!
Thank you!
Kris

On Tue, Dec 1, 2020 at 5:52 PM A. Thomas Tran <notifications@github.com>
wrote:

[2020-12-02 20:01] nutjob4life commented on #35
@Lacey-boop I removed Paul A with prejudice. Please see the updated page at https://recoverydharma.org/about/board-of-directors

If this looks okay, please go ahead and click Close. If not, comment here and let me know!

[2020-12-02 20:07] nutjob4life commented on #34
@Lacey-boop I updated the page at https://recoverydharma.org/contact

- In used the full ZIP+4 code
- I put the address into international format*

If this passes muster, please go ahead and click Close. If not, comment and let me know what else to fix!

*We are an _international_ organization after all 😉

[2020-12-02 20:27] nutjob4life commented on #33
I've posted the minutes as a bulletin; see https://wp.me/p9QaBE-5xo

If this looks okay, please close the issue. If not, comment here and re-assign to me 🙏

[2020-12-02 22:45] KrisRecoveryDharma commented on #35
Looks great! Thanks!

[2020-12-02 22:45] #35 closed

[2020-12-04 04:25] KrisRecoveryDharma commented on #34
This looks great to me!

[2020-12-04 04:25] KrisRecoveryDharma commented on #33
It looks good to me

[2020-12-04 04:27] KrisRecoveryDharma commented on #27
Hi Tom R,
My work week got a way from me.
Let's try for Friday afternoon.
Are you available then?
Kris

[2020-12-04 13:41] tom-raley commented on #27
Hey @KrisRecoveryDharma! Yes, only time I can’t do is 4-5p eastern. Can we shoot for 1 or 2p eastern?

[2020-12-04 20:24] Lacey-boop commented on #34
thanks!

[2020-12-04 20:24] #34 closed

[2020-12-04 20:26] Lacey-boop commented on #33
thanks!

[2020-12-04 20:26] #33 closed

[2020-12-05 21:21] Lacey-boop opened #36 "New Bulletin with Town Hall Minutes"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

https://recoverydharma.org/bulletins
Title can be October 2020 Town Hall Meeting Minutes
The following are the minutes for the October 2020 Board Town Hall in which Board President Kris Roehling presented the

[2020-12-12 15:29] nutjob4life commented on #36
Published https://wp.me/p9QaBE-5xw

[2020-12-12 15:29] #36 closed

[2020-12-13 00:46] Lacey-boop commented on #36
thanks Sean!
Could you add this intro before you get into the minutes themself:

The following are the minutes for the October 2020 Board Town Hall in which Board President Kris Roehling presented the new RD website and answered questions from the community.

[2020-12-13 19:57] nutjob4life commented on #36
Updated @Lacey-boop

[2020-12-14 16:25] unity1979 commented on #32
Goodness, that took a little while :)  Here are all the sections broken up, with text faded, and page numbers and titles of sections.  I have also sectioned out the Heart Practices for good measure.

(In one zip:) [RD Book (Sectioned PDF Version 2020-12a).zip](https://github.com/RecoveryDharma/website/files/5690140/RD.Book.Sectioned.PDF.Version.2020-12a.zip)
❖
[Preface.07 - PREFACE.pdf](https://gi

[2020-12-14 16:56] unity1979 commented on #32
@KrisRecoveryDharma where do we go from here?  Is there a simple way to get this on the next website?  this is exciting.

[2020-12-18 21:56] KrisRecoveryDharma opened #37 "2021 RDG Board Elections Page"
## 🤔 Tell Us About the Feature

2021 RDG Board Elections Page - It will include many documents;
Nomination documents:  7
Election Documents: TBD

There is a URL for each document, and several documents have links.  A few of the documents are intended as Google Forms.  Like the website, this whole project is a LOT bigger than I anticipated.  But, if we want to be respectful, then nominees and membe

[2020-12-20 23:42] nutjob4life commented on #37
Okay, I think this is a content update, not a new software feature. So I'm going to add a new page to the current production site with links to these 7 documents.

[2020-12-20 23:57] nutjob4life commented on #37
@KrisRecoveryDharma please see https://wp.me/p9QaBE-5xC

[2020-12-21 01:18] KrisRecoveryDharma commented on #37
Sean,
Thank you!  Yes, this is on it's way!  We have a few other edits to make
before making it public.

Dirk,
One of the edits, is that GSuites is not allowing me to share with
everyone. It is only allowing me to share with restricted or anyone in the
group. I need "anyone with the link can view" status. Help!

Thank you!

Kris

On Sun, Dec 20, 2020 at 6:58 PM Sean Kelly <notifications@github.com

[2020-12-21 20:16] joelro87 opened #38 "Change Date for Requesting Bids"
https://recoverydharma.org/requesting-bids-for-the-2021-sangha-summit

Hi, on this page, can we change the December 15 date to January 6, 2021?

Thanks!

[2020-12-21 20:58] nutjob4life commented on #38
Done; see https://wp.me/p9QaBE-5wJ

[2020-12-21 20:58] #38 closed

[2020-12-27 18:18] KrisRecoveryDharma opened #39 "2021 RDG Board Nomination Form"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [XX] new content
- [ ] replacing existing content
- [ ] deleting content

Make sure you mention URLs! Tell where the content should appear, get changed, be deleted, etc.

Instruction:  Create a new page that is an online Form for the 2021 Nominations.  Information from the form shou

[2020-12-27 18:43] KrisRecoveryDharma opened #40 "2021 RDG Nomination Acceptance Form"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [XX] new content
- [ ] replacing existing content
- [ ] deleting content

Make sure you mention URLs! Tell where the content should appear, get changed, be deleted, etc.

Instruction:  Create a new page that is an online Form for the 2021 Nominations.  Information from the form shou

[2020-12-27 18:47] KrisRecoveryDharma commented on #37
Please delete or hide the following links.
We want to publish the page asap, but the last three documents won't be available until next week.

Questionnaire
Elections Meeting Announcement — General
Elections Meeting Announcement — Focused

[2020-12-27 22:16] KrisRecoveryDharma commented on #40
Lacey can help guide this from the Nomination Committee Perspective while I am on retreat.
Be well all!
And than you for getting us to this point on our path!

Kris

[2020-12-27 22:17] KrisRecoveryDharma commented on #39
Lacey will be able to help guide the publication of this page from the nomination committee point of view

[2020-12-27 22:33] KrisRecoveryDharma commented on #39
Like the other form, Lacey can serve as the Nomination Commitee decision maker this week.
Thanks!
Kris

[2020-12-28 09:58] tom-raley commented on #40
Happy to help! @nutjob4life what do we use for forms? And where does the data get stored then? Let me know and I’ll take a stab at it!

[2020-12-28 17:24] KrisRecoveryDharma commented on #40
Hello!
Note that on Monday, 12/28/20 12:23 pm  I updated the bullet points - to correct some typos and make one small content change.

If you haven't been able to work with the text yet, then never mind. If you uploaded a copy of the text before that, then please update.

Thank you!

Kris

[2020-12-30 02:38] nutjob4life commented on #37
Last 3 links removed.

[2020-12-30 02:38] #37 closed

[2020-12-30 02:42] nutjob4life commented on #39
Looks like @tom-raley is on the job so removing myself from the assignees list…way to go Tom! 🎉
![Screen Shot 2020-12-29 at 8 41 32 PM](https://user-images.githubusercontent.com/814813/103326520-4efef600-4a16-11eb-8f39-e21cf3a27c26.png)

[2020-12-30 02:43] nutjob4life commented on #40
Hi @tom-raley: there's a form editor on WordPress. Once you log into `wp-admin`, click "Forms" on the left-side toolbar.

WAIT A MINUTE. Looks like you found it!

Okay, carry on! Ping me on Slack or here if you need help.
![Screen Shot 2020-12-29 at 8 43 30 PM](https://user-images.githubusercontent.com/814813/103326566-8d94b080-4a16-11eb-939a-5a107ae9bb5c.png)

[2020-12-30 03:07] tom-raley commented on #40
@nutjob4life Ha, yeah I just started digging around and found it. Thanks though! Looks like it's pretty straightforward to use.

@Lacey-boop I just sent a test form, can you let me know if it hit the nomination@recoverydharma.org email account? If so, the draft of this can be viewed here: https://recoverydharma.org/?page_id=21313&preview=true

If you all think it looks good, we should be good to p

[2020-12-30 15:46] joelro87 opened #41 "NYE and Day meetings"
Hi,

Here is the New Year's Eve and Day meetings. It is currently updated. It lists all of the meetings, with a confirmation column on the left side. Not sure if we'll get anymore. Is there anyway to get this on the website?

Thanks,
Joel

https://docs.google.com/spreadsheets/d/17zJ0gwLhvyroJBULVwbdmqotCb379gNZC7IMyyitFe0/edit#gid=0

[2020-12-30 18:56] KrisRecoveryDharma commented on #41
It's almost there! Here are the last few things to post it as a bulletin.

1) make sure the document is stored in the RDG google drive.  In this case
the Meetings folder.

2) Make sure is set to anyone with the link can view

3) Write up a title and Introductory paragraph (25-50 words)

Post the link to the document and the write up here. We will migrate it to
the website Repository.

I am thinkin

[2020-12-30 19:28] joelro87 commented on #41
Hi, where is the meeting folder?

I will work on the writeup now.

Thanks,
Joel

On Wed, Dec 30, 2020 at 1:56 PM Kris Recovery Dharma <
notifications@github.com> wrote:

[2020-12-30 21:04] tom-raley commented on #39
Hey @Lacey-boop! I also created a draft of this page as well. Let me know when you're around, so we can test the form submissions and make sure they're going through ok! https://recoverydharma.org/?page_id=21337&preview=true

[2020-12-30 21:08] Lacey-boop commented on #39
HI Tom, just slacked you

On Wed, Dec 30, 2020 at 4:04 PM Tom Raley <notifications@github.com> wrote:

--
Lacey Browne
Recovery Dharma Global
pronouns: she/her
917-710-7744

[2020-12-30 21:58] joelro87 commented on #41
Writeup: https://docs.google.com/document/d/1QRXLwi1p6TqHHvhXI85w-VPetYPQskhMTJX8LNuHdgI/edit
Meeting List: https://docs.google.com/spreadsheets/d/17zJ0gwLhvyroJBULVwbdmqotCb379gNZC7IMyyitFe0/edit#gid=0

Not sure where to put it in the shared drive.

[2020-12-31 01:30] KrisRecoveryDharma commented on #41
Sorry, I thought I put the link in, but I guess it didn't take. Here it is

Meeting List folder: https://drive.google.com/drive/folders/1j1rN_YT-y1CB-1-HMzXvT26bSNsHpuxm?usp=sharing

[2020-12-31 01:35] joelro87 commented on #41
Okay, uploaded both files to that folder.

[2020-12-31 01:43] KrisRecoveryDharma commented on #40
Looks good!

I am realizing, though that I need to actually reverse the size of the title headers.
RDG line the "subheader" size
Nomination acceptance form the headers size

Thank you!

Kris

[2021-01-15 19:32] KrisRecoveryDharma opened #42 "URGENT: Remove references to 2020 and to Covid on the meeting list page"
Overview
The Meeting list page currently referrs to the meeting list as the 2020 Covid List. This is generating confusion on the part of members.  We need to remove references to 2020 and covid on the page.  The details follow:

1. URL: https://recoverydharma.org/meeting-list

2. Page Title: Remove the current title and replace it with: Recovery Dharma Meeting LIst

3. Under the subheading "Add or

[2021-01-19 03:24] KrisRecoveryDharma commented on #42
Hey Guys,

Just checking in on this task.  Any obstacles?

Kris

[2021-01-19 03:41] tom-raley commented on #42
@KrisRecoveryDharma @nutjob4life I'm on it!

[2021-01-19 13:23] KrisRecoveryDharma commented on #42
Hey Guys,

This one is not complete yet. It got closed by accident. The page still says 2020.

Thanks!

[2021-01-19 13:32] tom-raley commented on #42
@KrisRecoveryDharma There was something funky going on last night with our wordpress back end and it looks like the changes I made didn't save. I made them again this morning and just published it, looks to be live on the site now. I'll wait to close this issue until you review.

[2021-01-19 20:56] KrisRecoveryDharma commented on #42
Looks great!
Thank you!

[2021-01-19 20:56] #42 closed

[2021-01-19 22:09] Lacey-boop opened #43 "Board minutes"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

Make sure you mention URLs! Tell where the content should appear, get changed, be deleted, etc.

## 🔍 Details

Please add the October and December Board minutes to this page: https://recoverydharma.org/about-o

[2021-01-26 18:11] #43 closed

[2021-02-05 22:53] Lacey-boop opened #44 "2 New Bulletins for ASAP"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Please add these 2 new bulletins asap, thank you!! 🙏💕
.https://recoverydharma.org/bulletins
[Elections Meeting Annoucement.pdf](https://github.com/RecoveryDharma/website/files/5935728/Elections.Meeting.Annouce

[2021-02-05 22:54] Lacey-boop opened #45 "Elections URL redirect for ASAP"
Could you pls create a page called: recoverydharma.org/election to redirect to here: https://recoverydharma.org/2021-board-elections

[2021-02-05 23:08] nutjob4life commented on #45
Done; visit https://recoverydharma.org/election, get redirected to https://recoverydharma.org/2021-board-elections

HTTP traffic demonstration:

[code]

[2021-02-05 23:08] #45 closed

[2021-02-05 23:27] Lacey-boop commented on #44
thank you! Could you give me the URLs to the 2 new bulletins so that I can add them to the landing page without having to wait for the site to refresh?

[2021-02-06 01:11] #39 closed

[2021-02-06 01:12] #41 closed

[2021-02-06 01:12] #40 closed

[2021-02-06 01:16] KrisRecoveryDharma commented on #27
This is our lingering question that is website policy level discussion.

My concern is around the monthly board minutes - especially since each month's minutes are essentially a packet of 10 different documents.

Let's plan on this being our primary policy discussion over the next couple of weeks.

Thanks to all!

[2021-02-06 01:17] KrisRecoveryDharma commented on #32
Keeping this active because this is related to the pdf question

[2021-02-06 01:27] nutjob4life commented on #44
In progress

[2021-02-06 01:31] nutjob4life commented on #44
Announcement permalink: https://recoverydharma.org/2021-recovery-dharma-global-general-meeting-announcement

Town halls permalink: https://recoverydharma.org/2021-recovery-dharma-global-nominee-town-halls

[2021-02-06 01:31] #44 closed

[2021-02-10 05:39] joelro87 opened #46 "Treasurer's Reports"
https://recoverydharma.org/about-our-nonprofit

Can we add a note to the section for Treasurer's Reports stating that all of the reports are now part of the Board Meeting Minutes? For example, August's Treasurer's Reports are found in the September 13 Board Meeting Minutes.

Thanks

[2021-02-10 18:27] KrisRecoveryDharma opened #47 "Remove Jordan Kramer Biography"
Jordan Kramer has dropped out of the 2021 Board election race.  Please delete his nominee profile:

I believe the page will automatically update to re-order the candidates.

https://recoverydharma.org/2021-board-elections/jordan-kramer
https://recoverydharma.org/2021-board-elections

Tom has been working on this, but I am assigning both Tom and Sean since it is an easy fix and I'm hoping to get th

[2021-02-10 18:34] tom-raley commented on #47
Done!

[2021-02-10 18:34] #47 closed

[2021-02-10 20:20] Lacey-boop opened #48 "Updated December Board Minutes"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [X ] replacing existing content
- [ ] deleting content

Could you please replace the current December minutes on the site with this copy
[20201213 Min BoD Meeting .pdf](https://github.com/RecoveryDharma/website/files/5961320/20201213.Min.BoD.Meeting.pdf)

[2021-02-10 21:14] #48 closed

[2021-02-10 22:13] KrisRecoveryDharma opened #49 "URGENT: TOWNHALLS ARE AT 5 PM NOT 6 PM ET!!!!!!!!"
Uh Oh!

https://recoverydharma.org/2021-recovery-dharma-global-nominee-town-halls

They were never were scheduled for 6 pm. That is too late for Europe

Thoughts on what to do now?  My conversations with all of the panelists has been 5 pm Whenever they said 6 pm, I corrected them to 5 pm.

Oh my!  There is always something to make life interesting!

Kris

[2021-02-10 22:40] tom-raley commented on #49
I just updated the page. I'm not sure the best way to communicate this to the broader audience though.

[2021-02-10 22:42] Lacey-boop commented on #49
Thanks Tom, we’re not going to change it for Saturday- so that should still
say 6pm.
Still working out if we’re going to change the Wednesday time too.

On Wed, Feb 10, 2021 at 5:40 PM Tom Raley <notifications@github.com> wrote:

--
Lacey Browne
Recovery Dharma Global
pronouns: she/her
917-710-7744

[2021-02-10 22:43] tom-raley commented on #49
Alright, changed Saturdays back. Keep me posted on Wednesday.

[2021-02-10 23:38] unity1979 commented on #49
Just a heads up, I've also created a Google Calendar (contains the 3 events, 2/13, 2/17, 2/20) with corresponding info regarding Zoom link and Nominees. To save time and make sure there are no errors. RD members may want to add this to their calendars:
**http://bitly.com/rdg-calendar**

(ps. I also updated the Google Doc sign-up for the Schedule of the Nominees to note that Saturdays begin at 6pm

[2021-02-19 15:38] Lacey-boop opened #50 "Bulletin for today"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Hello could you please add the following bulletin to this page: https://recoverydharma.org/bulletins
[Town Hall 2_19 statement.pdf](https://github.com/RecoveryDharma/website/files/6011109/Town.Hall.2_19.statem

[2021-02-19 16:03] nutjob4life commented on #50
Posted https://wp.me/p9QaBE-5BN

[2021-02-19 16:03] #50 closed

[2021-02-24 17:47] Lacey-boop opened #51 "Jan 2021 Board minutes"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

Please add the Jan 2021 minutes to: https://recoverydharma.org/about-our-nonprofit
[202101 RD Board Min .pdf](https://github.com/RecoveryDharma/website/files/6037866/202101.RD.Board.Min.pdf)

[2021-02-26 21:16] nutjob4life commented on #51
Added to https://recoverydharma.org/about-our-nonprofit

[2021-02-26 21:34] #49 closed

[2021-02-26 21:36] Lacey-boop opened #52 "Bulletin to post by 2/27"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X] new content
- [ ] replacing existing content
- [ ] deleting content

please post this bulletin by 2/27 to https://recoverydharma.org/bulletins
thank ya!
[2021 Voting Bulletin.pdf](https://github.com/RecoveryDharma/website/files/6052594/2021.Voting.Bulletin.pdf)

## 🔍 Details

Re

[2021-02-26 21:50] nutjob4life commented on #52
This bulletin is posted; see it in action at https://wp.me/p9QaBE-5C0

It also appears in the list of bulletins at https://recoverydharma.org/bulletins … Here's a screenshot of that page:
![Screen Shot 2021-02-26 at 3 49 18 PM](https://user-images.githubusercontent.com/814813/109358997-50983f00-784a-11eb-80b0-df4c7d3eedf6.png)

[2021-02-26 21:50] #52 closed

[2021-02-26 22:30] Lacey-boop commented on #52
thanks Sean!!

On Fri, Feb 26, 2021 at 4:50 PM Sean Kelly <notifications@github.com> wrote:

--
Lacey Browne
Recovery Dharma Global
pronouns: she/her
917-710-7744

[2021-03-03 20:09] unity1979 opened #53 "Voting link to nominee bio leads to empty page."
## 🐛 Describe the Bug

This link from the voting ballot leads to "Nothing Found":
https://recoverydharma.org/2021-board-elections/thom-tran
![image](https://user-images.githubusercontent.com/70724023/109864922-10a9d100-7c29-11eb-8ec7-091f07d7f773.png)
-->
![image](https://user-images.githubusercontent.com/70724023/109864956-199aa280-7c29-11eb-86f1-275287253052.png)

The content actually lives at:

[2021-03-03 20:25] nutjob4life commented on #53
Thanks for the thorough bug report!

If this is on the ballot itself, it'll have to be fixed in ElectionBuddy. But poking around the ElectionBuddy setup, it might be impossible to change a running election:

![Screen Shot 2021-03-03 at 2 22 41 PM](https://user-images.githubusercontent.com/814813/109867494-2bca1000-7c2c-11eb-92aa-564bdc9d7eb3.png)

I'm not overly familiar with ElectionBuddy, so I'v

[2021-03-03 20:25] nutjob4life commented on #53
OH! Duh.

I'll add a redirect!

[2021-03-03 20:26] catpanclub commented on #53
Yeah, I didn’t play in the Electionbuddy space much since I was on the
ballot last time around.

On Wed, Mar 3, 2021 at 2:25 PM Sean Kelly <notifications@github.com> wrote:

[2021-03-03 20:30] nutjob4life commented on #53
Thanks @catpanclub.

@unity1979 there is now a transparent redirect; visiting `/2021-board-elections/thom-tran` gives a 301 permanently moved and sends the browser to `/2021-board-elections/thomas-tran`. Hope this helps.

[2021-03-03 20:30] #53 closed

[2021-03-16 01:36] Lacey-boop opened #54 "Election Results Announcement"
Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

Please create this page but hold off on publishing, we'll let you know when its good to go (waiting to hear back from a couple people) thank you!
[2021 Election Results Article .pdf](https://github.com/RecoveryDharma/websit

[2021-03-16 13:43] nutjob4life commented on #54
Hi @Lacey-boop, I'm re-assigning this @tom-raley. I am absolutely swamped this week.

[2021-03-16 17:23] Lacey-boop opened #55 "Nominations page"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ X] replacing existing content
- [ ] deleting content

https://recoverydharma.org/2021-board-elections

1. Where it says "registration closed"
Please replace with:
Welcome the new Recovery Dharma Global Board of Directors!
Please see the following announcement for

[2021-03-16 17:28] Lacey-boop opened #56 "Youtube town halls"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [X ] deleting content

When you get an opportunity, please take down the following videos from our youtube channel:
https://www.youtube.com/watch?v=7HBNEQD9S1U&t=3777s
https://www.youtube.com/watch?v=eBh1doIuFww&t=2312s
https://www.

[2021-03-16 17:32] #54 closed

[2021-03-16 17:37] #55 closed

[2021-03-18 14:23] #56 closed

[2021-03-18 14:23] nutjob4life commented on #56
3 videos removed from the channel

[2021-03-24 21:48] KrisRecoveryDharma opened #57 "Question: Book Versions on the Website"
Page:  https://recoverydharma.org/book

Hello Website Friends,

I am working on the book page for the new website. I need realize that I need more data to make an informed decision about the various links we have for the Recovery Dharma Book. We are planning to add two additional versions - chapter by chapter PDF and Insight Timer. If all of the current links are behind used, then let's keep them.

[2021-03-25 00:40] unity1979 commented on #57
I agree with everything Kris said, plus these updates. I was able to get these things to work:
✅ Get free EPUB: Keep (Works OK on Mac)
✅ Get free Amazon Kindle Book: Keep (Works OK if Kindle App is installed)

Listen to the book and to meditations:
✅ Listen on Apple Podcasts: Keep (Works OK on Mac or iPhone)

[2021-03-25 00:42] unity1979 commented on #57
💡 ALSO: Bookreading Video! (Great for people with difficulties reading. It's Sean Kelly's reading of the audiobook sync'ed with the textbook.)  Any chance we can put up this version to help with those iwth reading disabilities? These are extremely helpful for staying focused.

See for yourself: https://www.dropbox.com/s/r4o16ii3q5hu61v/SK%20-%20RD%20p.i-xvi%20Preface.mp4?dl=0

[2021-03-25 13:43] Lacey-boop opened #58 "Pls take down Nominee bios"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [ X] deleting content

Please take down all the nominee bios from the elections page: https://recoverydharma.org/2021-board-elections
We can leave up the timeline and other info.

thanks!

[2021-03-25 22:07] #58 closed

[2021-03-25 22:27] unity1979 commented on #57
💡For consideration: Audiobook with **Female voice (for sensitivity**): https://vocaroo.com/1P2zy8QIq837

https://www.dropbox.com/sh/yvml4cbrwrqxc9n/AAAeo4UyFI7chwQksXmCBxpda?dl=0

[2021-04-12 15:57] Lacey-boop opened #59 "AAPI Bulletin"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

at: https://recoverydharma.org/bulletins

Bulletin Subject: RD AAPI Statement of Support

content:

The Recovery Dharma Global Board of Directors supports the following [Statement of Support](http://bit.ly/rd-

[2021-04-12 19:13] nutjob4life commented on #59
Published at https://wp.me/p9QaBE-5Cx

[2021-04-12 19:13] #59 closed

[2021-04-12 21:12] unity1979 commented on #59
Is this supposed to be shown at www.recoverydharma.org/bulletin ? I don't see it there

![image](https://user-images.githubusercontent.com/70724023/114463264-0ddfbb80-9b99-11eb-93c1-1f9b33cb0ae4.png)

[2021-04-12 21:32] nutjob4life commented on #59
@unity1979 it's live from what I can tell. It shows up for me.

OH! Ah, I'm logged in. Non-logged-in users are getting a cached view.

Stoute installed Nginx advanced caching (without notifying us) and there's an extra step to getting content on the site: press the big red "Purge Entire Cache" button.

I would normally document this on a [wiki page here](https://github.com/RecoveryDharma/website/w

[2021-04-12 21:34] nutjob4life commented on #59
Also replied on: https://rdcollective.slack.com/archives/CMGUMAQ49/p1618262182001100?thread_ts=1618254783.000200&cid=CMGUMAQ49

[2021-04-23 17:57] Lacey-boop opened #60 "Summit Landing Page"
Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

On the page https://recoverydharma.org/conferences
Please add new page under Upcoming Conferences

New page: https://recoverydharma.org/conferences/2021-sangha-summit

Content below:
-Content includes creating a form for sc

[2021-04-23 20:36] #60 closed

[2021-04-27 22:53] Lacey-boop opened #61 "Homepage button promoting summit"
# ✋ Hold it!

Before you submit this request, remember that our webiste is a _content management system_. If you have an account on it, why not [try doing it yourself](https://recoverydharma.org/wp-login.php)?

If you don't have an account, then delete the above ⬆ and fill out below ⬇

## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this i

[2021-04-29 17:17] #61 closed

[2021-04-29 17:18] tom-raley commented on #61
@Lacey-boop Just added this. Does it look great? No. But I think it does the job. Let me know if it should be changed at all.

[2021-05-16 14:26] Lacey-boop opened #62 "RD Conference page updates"
Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content
https://recoverydharma.org/conferences/2021-sangha-summit

1. New opener under the Registration headline:
The RDG Board is excited to officially invite our global sangha to the 2021 Sangha Summit! The Summit will be held bot

[2021-05-17 17:39] #62 closed

[2021-05-17 18:26] Lacey-boop opened #63 "Bulletin for Summit"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

https://recoverydharma.org/bulletins

Bulletin title: 2021 RDG Sangha Summit: Online and In-Person
[2021 Summit In-Person Annoucement.pdf](https://github.com/RecoveryDharma/website/files/6496039/2021.Summit.In

[2021-05-17 18:33] #63 closed

[2021-06-12 01:30] Lacey-boop opened #64 "Bulletin for Saturday if possible"
Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

Can you please add this Bulletin to: https://recoverydharma.org/bulletins
with this title: Annual Meeting Community Motions
[Annual Meeting Community Motion annoucement.pdf](https://github.com/RecoveryDharma/website/files/6

[2021-06-13 20:55] Lacey-boop opened #65 "ASAP Change on Summit landing page"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ X] replacing existing content
- [] deleting content

In Scholarships section, please have the sentence read: Looking for a scholarship to attend the Summit?
On Landing page: https://recoverydharma.org/conferences/2021-sangha-summit
and Form page:  https://recover

[2021-06-14 15:12] #64 closed

[2021-06-14 15:18] #65 closed

[2021-06-24 01:27] Lacey-boop opened #66 "Board Minutes"
Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content
- [ ]
Under Board Meeting Minutes could you put this:
2021 Minutes which links to this:
https://drive.google.com/drive/folders/1bc-s3F4Ul0bSrUtoCsNnp70j6sVRvh97?usp=sharing

[2021-06-24 17:59] #66 closed

[2021-07-02 18:33] Lacey-boop opened #67 "Summit landing page update"
Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [ X] deleting content

1. Under Scholarships:
Could you delete the link to register for scholarships and add this sentence:
All of the scholarships for the 2021 Sangha Summit have been filled.

2. On this page: https://recoverydharma.org/conferen

[2021-07-02 18:51] #67 closed

[2021-07-03 14:50] Lacey-boop opened #68 "Delete Scholarship button"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [X] deleting content

Please delete the "Apply Now" Scholarship button: https://recoverydharma.org/conferences/2021-sangha-summit

thank you!!

[2021-07-06 14:42] #68 closed

[2021-07-06 15:30] Lacey-boop opened #69 "More updates for Summit landing page"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Could you add a new header after In-Person Location Info and Before Scholarships with this:

Official 2021 Sangha Summit T-Shirt!
Get your's here: https://globalsummit2021.bigcartel.com/
and include this image

[2021-07-06 15:47] #69 closed

[2021-07-09 18:24] Lacey-boop opened #70 "Agenda for Summit landing page"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

After Registration and before the "In-person" section could you put:
2021 Sangha Summit Agenda (header)
and then...I'm not sure the best way to do this, we have 2 pdfs, one is the Agenda and the other is Agend

[2021-07-10 14:59] #70 closed

[2021-07-12 01:36] Lacey-boop opened #71 "New WP website RD logo"
## 🐛 Describe the Bug

Logo in top left corner is being stretched
Attached png here in case you need
![Recovery-Dharma_Logo_RGB_White_Horizontal](https://user-images.githubusercontent.com/70229948/125218059-10cd7380-e290-11eb-820d-358c110759a1.png)

[2021-07-12 01:42] Lacey-boop opened #72 "Summit Landing page- update asap please"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Can you add this sentence under In Person header:
Last day to purchase in-person tickets is July 14th at 11:59 pm.

thank you!

[2021-07-12 02:08] Lacey-boop opened #73 "Update Board Images for About page on WP site"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

About page: https://recovery-dharma.flywheelsites.com/about/

I cropped the pictures so hopefully they're good to go now (for any of the ones that aren't square): https://drive.google.com/drive/u/2/folders/1F5

[2021-07-12 14:25] #72 closed

[2021-07-12 14:36] #71 closed

[2021-07-12 14:41] #73 closed

[2021-07-12 14:41] #51 closed

[2021-07-13 17:44] Lacey-boop opened #74 "Adding new Board members to current website- by Friday please?"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

I'd like to get these folks up on there for the Summit since the new site isn't live yet.
Hopefully you can use the same crops of everyone that we used for the WP site? If not let me know and I can recrop
http

[2021-07-13 23:21] #74 closed

[2021-07-16 16:40] Lacey-boop opened #75 "Bulletin for ASAP"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

this will have live links that will need to be able to link out

Bulletin title:
2021 RDG Annual Meeting Agenda

[072021 RDG Annual Meeting Agenda .pdf](https://github.com/RecoveryDharma/website/files/6832151/

[2021-07-16 16:44] tom-raley commented on #75
@Lacey-boop does the table from the PDF need to be in the body of the post? It'll take some time to create the table in the post. If we can just link to the PDF, that makes this much quicker.

[2021-07-16 16:47] Lacey-boop commented on #75
Yes lets just link to it- can you click on those links in the report to
make sure there's access?

On Fri, Jul 16, 2021 at 12:44 PM Tom Raley ***@***.***> wrote:

--
Lacey Browne
Recovery Dharma Global
pronouns: she/her
917-710-7744

[2021-07-16 16:57] tom-raley commented on #75
@Lacey-boop access for all the links looks to be good! Post is now live.

[2021-07-16 16:57] #75 closed

[2021-07-19 13:45] Lacey-boop opened #76 "Summit updates"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [X ] deleting content

-Could you get rid of the Summit teaser on the homepage?
- on the landing page: https://recoverydharma.org/conferences/2021-sangha-summit
- pls get rid of the register button
-
thank you!!

[2021-07-19 14:41] tom-raley commented on #76
Done. I got rid of the "Board elections are now underway" banner as well :)

[2021-07-19 14:41] #76 closed

[2021-07-19 18:12] Lacey-boop commented on #76
ha thank you!

On Mon, Jul 19, 2021 at 10:41 AM Tom Raley ***@***.***> wrote:

--
Lacey Browne
Recovery Dharma Global
pronouns: she/her
917-710-7744

[2021-07-26 20:27] Lacey-boop opened #77 "email form not working"
https://recoverydharma.org/contact
Someone messaged us on FB saying the form isn't working and we haven't been getting any emails so I think its probably universal.
This is what it looks like:
<img width="747" alt="Screen Shot 2021-07-26 at 4 24 51 PM" src="https://user-images.githubusercontent.com/70229948/127054404-0d8a8ce1-27d9-468d-b64b-e84440da6197.png">

[2021-07-26 20:58] tom-raley commented on #77
@Lacey-boop This has to do with the WP Armour anti-spam plugin, for some reason it was detecting all submissions as spam. I enabled the built-in honeypot field in Gravity Forms and disabled the WP Armour plugin and it seems to be working now. @nutjob4life if you're aware of any reason we shouldn't deactive the WP Armour plugin, let me know and I'll troubleshoot it more, but for now we should have

[2021-07-26 20:58] #77 closed

[2021-07-26 20:58] Lacey-boop commented on #77
thank you!!

On Mon, Jul 26, 2021 at 4:58 PM Tom Raley ***@***.***> wrote:

--
Lacey Browne
Recovery Dharma Global
pronouns: she/her
917-710-7744

[2021-07-27 19:55] Lacey-boop opened #78 "Updates to WP site"
Hi Tom, can we also make a date to just go through the whole site looking for and fixing typos.
Requesting a few changes here:
https://docs.google.com/document/d/1AUL2Mce5wPlBvsEh0hHr4thb1Xc5H480jT30-9VQAR0/edit#

[2021-07-29 15:07] raleytom commented on #78
@Lacey-boop yes we can definitely set a time. I start a new job next week and then am out of town, so not sure what my schedule looks like but I will circle back once I know more!

[2021-07-29 15:36] #78 closed

[2021-07-29 15:37] tom-raley commented on #78
@Lacey-boop yes we can definitely set a time. I start a new job next week and then am out of town, so not sure what my schedule looks like but I will circle back once I know more!

[2021-08-26 17:57] unity1979 opened #79 "Broken link: google play no longer available!"
## 🐛 Describe the Bug
Where: https://recoverydharma.org/book

Broken URL: https://play.google.com/music/m/Iidfd27zz7yheum5xmg7zu63vuy?t=Recovery_Dharma_Audiobook

Notice: The very last link to "Listen to the Book on Google Play" no longer works since google play music is no longer available.

## 📜 How To Reproduce

1. Visit https://recoverydharma.org/book
2. Click button link <img width="239" alt=

[2021-08-26 18:03] unity1979 opened #80 "Confusing order of eBooks: Paperbacks not grouped together, eBooks not group together"
Where: [https://recoverydharma.org/book](https://recoverydharma.org/book)

## 🤔 Tell Us About the Feature

The e-reader book versions (ePub and Kindle) can be grouped together for clarity.
The paperback book versions (PDF and Buy a Copy) can be grouped together as well.

This is how it's looked and it's confusing:
<img width="596" alt="image" src="https://user-images.githubusercontent.com/70724023

[2021-08-26 18:09] unity1979 opened #81 "Fix outdated link to list of online meetings (on FAQ)"
## 🐛 Describe the Bug

Where: https://recoverydharma.org/about/faq

## 📜 How To Reproduce

1. Scroll to: "View the full list of online meetings at [http://recoverydharma.online](http://recoverydharma.online)"

## 🔎 Expected Behavior

The text on FAQ should contain the complete list of 300+ worldwide meetings:
"View the full list of online meetings at [http://recoverydharma.org/meeting-list](http:/

[2021-09-16 17:51] unity1979 commented on #80
Closing issue since it is related to #57

[2021-09-16 17:52] unity1979 commented on #79
Closing issue since it is related to #57

[2021-09-16 17:52] #79 closed

[2021-10-26 13:09] Lacey-boop opened #82 "Current website- Board of Directors update"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ X] replacing existing content
- [ ] deleting content

https://recoverydharma.org/about/board-of-directors

Please update Lacey Browne title to President
and give Nancy title of Registrar

thank you! pls lemme know if any Q's!

[2021-11-02 00:12] Lacey-boop opened #83 "Bulletin for tomorrow?"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

hi Could you add this to https://recoverydharma.org/bulletins
[November 2021 Town Hall.pdf](https://github.com/RecoveryDharma/website/files/7456842/November.2021.Town.Hall.pdf)

thank you!

[2021-11-02 04:27] #83 closed

[2021-11-02 04:35] #82 closed

[2021-11-02 04:40] #81 closed

[2021-11-02 04:42] tom-raley commented on #57
@unity1979 @KrisRecoveryDharma Is this issue still open? Trying to clean out our backlog of issues 😄

[2021-11-02 04:42] tom-raley commented on #46
@KrisRecoveryDharma is this still relevant? This was before my time I think 😄

[2021-11-02 04:43] tom-raley commented on #32
@KrisRecoveryDharma @Lacey-boop @unity1979 Is this something we want incorporated into the new website? Wondering if this issue is stale or not 😄

[2021-11-02 04:44] tom-raley commented on #27
@KrisRecoveryDharma @Lacey-boop I think this issue is resolved for the most part? I think the new website contains many less PDFs and most content is either printable as a google doc, or as HTML on the site. Let me know if there's any reason to leave this open.

[2021-11-02 16:18] unity1979 commented on #80
@tom-raley Thanks tom for clearing these out. This item is outdated and is actually still open, it should look like this:
![image](https://user-images.githubusercontent.com/70724023/139902762-10fb3291-1f18-45b5-8f5c-bbcf6b5d567b.png)

in a nutshell:

[Buy a copy] [Download Paperback PDF]
[Download AZW3 (Kindle Compatible)] [Listen to the Book on Soundcloud]
[Listen to the Audiobook on Soundclou] [

[2021-11-02 16:19] unity1979 commented on #57
This is open still due to Broken google play link

[2021-11-02 16:19] unity1979 commented on #32
This is closed since the new website contains this feature. (Verify @KrisRecoveryDharma ?)

[2021-11-02 17:38] tom-raley commented on #80
@unity1979 Cool, should be all updated now! Closing the issue.

[2021-11-02 17:38] #80 closed

[2021-12-05 18:54] KrisRecoveryDharma opened #84 "Update Blog on New site"
# ✋ Hold it!
I have an account, but this task is beyond my capability

## 📕 Summary

Three actions to clean up the prepare the blog for the new website:
1. Pull all the latest articles to the new site
2. Tag all new articles using the new system
3.  Delete 10 event placeholders

1. Pull all of the latest new and bulletin posts from the old site to the new.
Request Tom or Sean complete this task
Fr

[2021-12-06 02:57] KrisRecoveryDharma opened #85 "Meeting List - Date and Weekday do not match"
## 🐛 Describe the Bug

The meeting names are Sunday.  But the date that is listed with the meetings is December 6th (Monday)

![Sunday December 6th - Incorrect day and date match](https://user-images.githubusercontent.com/70176719/144779810-829f15aa-d18e-47eb-a19a-847a18af87ff.PNG)

Thanks for any clarification or fixes you can provide

Kris Roehling

[2021-12-06 14:02] nutjob4life commented on #85
@KrisRecoveryDharma fixed the two "Sunday" meetings.

However, please note is that Mondays is how the meetings were submitted by the people who created them. I think I might know why they selected Monday.

Let's say you're entering a meeting for Sunday afternoons. To do so, you open the calendar widget on the "Submit Your Meeting" page and find the next closest Sunday. On this widget, that'd be Su

[2021-12-06 14:11] nutjob4life commented on #84
Removing myself from assignment as I absolutely do not have time to handle this. Good luck @tom-raley.

[2021-12-10 14:51] KrisRecoveryDharma opened #86 "Add Categories to New Page"
This is a widget change, so I was not able to navigate it.
Thank you for the quick updates on the Blog - now News section!
Here's what's next:  Adding categories to tag new articles.

## 📕 Summary

Replace this with a brief description of the content you want to be changed. Make sure to check if this is
- [ ] new content  for https://recovery-dharma.flywheelsites.com/blog/

## 🔍 Details

Replace t

[2021-12-10 18:50] tom-raley commented on #86
Hey @KrisRecoveryDharma, here is the current list of categories:

Bulletins
Community
Events
News
Organization
Practice
Teaching

I'm just confused on which ones from above we are adding and whether we should keep all the ones that are currently listed, since there appears to be more than 2 that are being added. Let me know if we should combine both lists or add/remove any of the current ones.

[2021-12-19 01:52] KrisRecoveryDharma opened #87 "In Person Meeting List Broken Link on active site"
Hello,

The link for the in-person meeting list is broken.

Web Page Where the link is found:
https://recoverydharma.org/meeting-list

Also, the link from the menu is not working

URL for the specific spreadsheet:
https://docs.google.com/spreadsheets/d/13sb_3p0pX-WLMnQP9kOszR1WE5LeeeamycD_carKn0g/edit?fbclid=IwAR3S9VWQhc7xX1gd2KaXsk-ILX0a_Q1Blki-uP-AF7IAKdRYAkxMcW6WcgI#gid=1492891510

[2021-12-19 02:01] tom-raley commented on #87
Hey @KrisRecoveryDharma any idea how long it’s been like this? I don’t believe this is an issue with our site. The link opens fine for me in the Google sheets app, so it’s the correct link. I believe the issue is in Google’s end.

[2021-12-19 02:57] #87 closed

[2021-12-19 13:30] KrisRecoveryDharma commented on #87
About 4 days

On Sat, Dec 18, 2021, 9:57 PM Tom Raley ***@***.***> wrote:

[2021-12-19 13:34] KrisRecoveryDharma commented on #87
You are right, tho, it is working now.  The error was relirted go us by
others and then I received the error.  If I get the error again I will
screen shot it.

Thanks!

On Sun, Dec 19, 2021, 8:30 AM Kris Recovery Dharma ***@***.***>
wrote:

[2021-12-19 13:38] tom-raley commented on #87
Yeah, my bad, I still don’t know what caused it, but updating the link fixed it. The research I did said our sheet might be becoming corrupt, so we should keep an eye on it. Won’t be an issue much longer though ☺️

[2021-12-28 15:44] Lacey-boop opened #88 "1/8/21 Town Hall Bulletin"
# ✋ Hold it!

Before you submit this request, remember that our webiste is a _content management system_. If you have an account on it, why not [try doing it yourself](https://recoverydharma.org/wp-login.php)?

If you don't have an account, then delete the above ⬆ and fill out below ⬇

## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this i

[2022-01-04 17:08] #88 closed

[2022-01-07 20:58] Lacey-boop opened #89 "New WP site Bylaws"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Could you add our updated Bylaws to this page: https://recovery-dharma.flywheelsites.com/bylaws/
thank you!
[By-Laws Amendments 3.0.pdf](https://github.com/RecoveryDharma/website/files/7831323/By-Laws.Amendmen

[2022-01-07 21:01] tom-raley commented on #89
@Lacey-boop I'm on it. Do we want this to be a PDF download that links to the PDF you provided? Or convert the PDF to HTML? The latter will take much longer, but is doable.

[2022-01-08 02:04] Lacey-boop commented on #89
I think a pdf like the current website is ok

[2022-01-08 03:09] tom-raley commented on #89
@Lacey-boop sounds good. Looking at it more, is the only place to access this document from the about page under Documents and Resources? Wondering if it makes sense to just have that card be a link to download the PDF instead of having an entire page for it. All good either way, just wanted to throw that out there :)

[2022-01-11 21:54] KrisRecoveryDharma opened #90 "Tom: Please add Copyright Language to Footer"
I tried to add it myself, but this is in the footer and I couldn't figure out how to get there to make this addition. Also, need the skills of others to make sure it looks okay graphically.

## 📕 Summary

- [X] new content
- Location:
     - Footer for the entire site
     - Perhaps right above or below the Firespring line (?)

## 🔍 Details

Please add this language to the footer.

© Recovery Dhar

[2022-01-11 22:18] #90 closed

[2022-01-12 19:50] Lacey-boop commented on #89
@tom-raley yeah if that link can just pop out a new page that has the pdf that would be great (new page thats just the pdf as opposed to automatic download would be great)

[2022-01-12 19:58] tom-raley commented on #89
@Lacey-boop Cool, just added that as a link that opens in a new tab. The link is set up to open a new page that loads the PDF in the browser, but it is a browser specific setting that users set themselves that determines whether the PDF opens in the browser or whether it automatically downloads it, so we have no control over that in the code on the site. But as long as users have their browser set

[2022-01-12 19:58] #89 closed

[2022-01-22 22:25] KrisRecoveryDharma opened #91 "Creative Commons Mark - Update with HTML"
I have an account, but both the footer and HTML insertion are beyond my capacity.

## 📕 Summary

- [X ] replacing existing content
Replace the current Creative Commons Statement in the footer with the HTML that will show the CC mark.

URL:
https://recovery-dharma.flywheelsites.com/

REPLACE THIS TEXT IN THE FOOTER:

© Recovery Dharma Global™ 2022
Some rights reserved. This work is licensed under C

[2022-01-22 22:35] KrisRecoveryDharma commented on #91
Well, I copied in the HTML and it just converted it.  Do you need the original HTML Code?  Here is how I obtained it:

Yes we allow adaptations,
no not for commercial reasons

Title of the work: recoverydharma.org
Attribute work to name:  Recovery Dharma Global
Attribute work to URL: https://recoverydharma.org/
Format: Multiple Formats
License Mark: HTML+RDFA

And the copy the HTML:
<a rel="licens

[2022-01-26 01:35] #91 closed

[2022-01-31 02:03] Lacey-boop opened #92 "Dharma wheel icon on WP site"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Hi Tom,
Could you add the Dharma wheel icon (attached below in white) to the black dividers on the site.
Like this attached. But can you see if you can shorten the space above the wheel (don't need so much bla

[2022-01-31 19:51] tom-raley commented on #92
@Lacey-boop I think I got them all. Let me know if any are missing!

[2022-02-05 01:57] KrisRecoveryDharma opened #93 "Change URL on title of new site"
Overview:

On the Book page of the new site - change the URL for Buy a Book

Recovery Dharma URL:
https://recovery-dharma.flywheelsites.com/book/

SECTION TWO
Highlight 1, Title: PURCHASE A COPYcC
Change the Link to the URL:
https://www.amazon.com/Recovery-Dharma-Practices-Principles-Suffering/dp/1086040007/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1644025884&sr=8-3

[2022-02-10 18:11] unity1979 commented on #32
Closing—This feature is completed as seen @
https://recovery-dharma.flywheelsites.com/book/

<img width="576" alt="image" src="https://user-images.githubusercontent.com/70724023/153470177-bf2806a1-e08f-4463-84ac-ac152ed10cce.png">

[2022-02-10 18:11] #32 closed

[2022-02-10 18:13] unity1979 commented on #57
Closing—these have been addressed on both sites (Google Play Audiobook and other broken links removed)

<img width="442" alt="image" src="https://user-images.githubusercontent.com/70724023/153470497-97fc2d1f-3ead-418f-ac65-84715815e778.png">

[2022-02-10 18:43] #93 closed

[2022-02-10 18:48] unity1979 commented on #93
For clarity, the link that needs replacement looks like this:
<img width="382" alt="image" src="https://user-images.githubusercontent.com/70724023/153475510-4d0ec462-cb55-48a7-a2a3-e367943278f1.png">

[2022-02-10 19:07] unity1979 commented on #84
Status update: Only 1 Bulletin Post is missing on the new site.

2021-12-30 - January 2022 Sangha Summit Town Hall @
https://recoverydharma.org/january-2022-sangha-summit-town-hall

(Other than this, all of the 53 bulletin posts are imported)

[2022-02-10 19:28] tom-raley commented on #92
@unity1979 Thanks! Updated those ones. Closing this now.

[2022-02-10 19:28] #92 closed

[2022-02-10 19:29] tom-raley commented on #84
@unity1979 I was gonna just wait until right before launch to do another import, since I've imported them a few times now and every time we post to the current site it gets out of date. So this one can stay open till right before launch :)

[2022-02-26 15:42] Lacey-boop opened #94 "WP site: reposition Board of Director squares"
Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [ ] deleting content
-
Could you position the Board of Directors so they're in alphabetical order by last name? Sorry I didn't notice this sooner.
Also, I removed Tom H's profile because he recently stepped down so if you could fix the gap that's

[2022-03-01 15:18] Lacey-boop opened #95 "New WP Site design element update"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [X ] replacing existing content
- [ ] deleting content

On the new site, on this page: https://recovery-dharma.flywheelsites.com/get-started/sangha-groups/
Could you make the little text blocks under the introparagraph look more like the "Documents and Resources" B

[2022-03-01 15:46] tom-raley commented on #95
Hey @Lacey-boop, take a look now. I think this is what you were going for (spacing issues in the top part with the cards). Let me know if this works https://recovery-dharma.flywheelsites.com/get-started/sangha-groups/

[2022-03-01 16:13] #94 closed

[2022-03-01 17:08] Lacey-boop commented on #95
yess, looks good, thank you!

[2022-03-01 17:15] Lacey-boop opened #96 "deleting image block"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [X ] deleting content

Make sure you mention URLs! Tell where the content should appear, get changed, be deleted, etc.

Can you delete this image of the flower with RDG logo thats at the top of the page? When I go into the visual bu

[2022-03-01 17:16] #95 closed

[2022-03-01 17:35] Lacey-boop opened #97 "New WP site: adding images to meditation pages"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [X ] replacing existing content
- [ ] deleting content

I want to switch out the header images for all the meditation pages: https://recovery-dharma.flywheelsites.com/resources/meditations/
-For the 3 wise mindfulness pages, can you use this image:
![maddison-mcmur

[2022-03-01 17:35] tom-raley commented on #96
@Lacey-boop Alright, removed that flower picture from all the posts. We can edit that header if we want, I'm not sure how its all supposed to be structured, as the News articles are all comingled with the blog articles, etc. but it's all listed under "Blog". So basically anything listed under Blog and written into the backend as a "Post" will have this format.

[2022-03-01 18:47] #97 closed

[2022-03-01 19:51] Lacey-boop opened #98 "New website: Hide Diversity+Accessibility page"
## 📕 Summary

Can you hide the D+A page https://recovery-dharma.flywheelsites.com/resources/diversity-accessibility/
under Resources?

We're just asking some people to review it before we publish it.

thanks!

[2022-03-01 20:29] Lacey-boop opened #99 "Meditation pages"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [X ] replacing existing content
- [ ] deleting content

Sorry I wasn't clear earlier- I'm looking to update the art for all the meditation script pages
So can you add this image to Compassion, Appreciative Joy, Equanimity and Forgiveness?
![susanne-alexander-vNuo7F

[2022-03-01 21:18] tom-raley commented on #99
@Lacey-boop Ah sorry about that! I replaced the rest, let me know if all looks good!

[2022-03-02 05:04] KrisRecoveryDharma opened #100 "Change Links on Accordian boxes - Beginner's Page"
Hi Tom,
 -
I thought I could edit the text and create a link, but it is not working for me.
I would like the Beginners Page to look the same as the Start A Meeting Page.

https://recovery-dharma.flywheelsites.com/get-started/beginners/

FRIENDS AND MENTORS ACCORIAN BOX
Add a green button at the bottom of  of the box:  "Friends and Mentors"
Link that text to: https://recovery-dharma.flywheelsites.c

[2022-03-02 16:59] Lacey-boop commented on #99
thanks
Tom!

[2022-03-02 17:03] #96 closed

[2022-03-02 17:08] tom-raley commented on #98
@Lacey-boop I left the page live at https://recovery-dharma.flywheelsites.com/resources/diversity-accessibility/ so people can review, but removed it from the menu so it won't be accessible anywhere on the site (I think) aside from direct URL.

[2022-03-02 17:29] tom-raley commented on #100
Hey @KrisRecoveryDharma made these changes, let me know if it all looks right.

[2022-03-02 21:10] KrisRecoveryDharma opened #101 "New Meeting Page - Change text blocks at the bottom of the page"
Page that needs changed
https://recovery-dharma.flywheelsites.com/find-meetings/

Delete existing Text Block.  Replace with two text blocks so that there are three blocks across the bottom of the page.

OLD TEXT BLOCK IN THE BOTTOM LEFT CORNER THAT NEEDS TO BE DELETED:
Start a New Online Meeting
Guide to running online meetings for those local sanghas that wish to transition to online meetings or

[2022-03-02 22:27] #101 closed

[2022-03-02 22:49] unity1979 opened #102 "404 Error @ https://recovery-dharma.flywheelsites.com/?page_id=207514 (Meetings & Events Link)"
## 🐛 Describe the Bug

There is a 404 error when clicking on "Meetings & Events", which leads to:
https://recovery-dharma.flywheelsites.com/?page_id=207514

## 📜 How To Reproduce

1. Go to https://recovery-dharma.flywheelsites.com
2. Click on "Meetings & Events" (or click on Accordian first)
3. Notice at URL "https://recovery-dharma.flywheelsites.com/?page_id=207514" there is a 404 error

## 🔎 Exp

[2022-03-02 23:45] KrisRecoveryDharma commented on #102
Thank you Tom A,

Yes we are in the midst of finishing that page.  It is pretty much set.  I
am c9nfident it will be resolved before launch or very soon after tomorrow
morning

On Wed, Mar 2, 2022, 5:49 PM A. Thomas Tran ***@***.***>
wrote:

[2022-03-02 23:49] KrisRecoveryDharma commented on #102
Oh!  You know what?
Maybe not!
Thank you

On Wed, Mar 2, 2022, 6:45 PM Kris Roehling ***@***.***> wrote:

[2022-03-03 00:11] tom-raley commented on #102
@KrisRecoveryDharma @unity1979 This should be resolved. Let me know if you're still seeing issues.

[2022-03-03 00:11] #100 closed

[2022-03-03 00:11] #98 closed

[2022-03-03 00:12] #84 closed

[2022-03-03 02:22] unity1979 opened #103 "At Find A Meeting page, Online Meetings need updates/removals"
## 🐛 Describe the Bug

At https://recovery-dharma.flywheelsites.com/find-a-meeting/ some links need Updates or Removal.

(A) These links do not work:
1. Nepal - Tab no longer exists. (Remove please)
2. New Zealand - Tab no longer exists. (Remove please)

(B) These links should be renamed for more clarity:
3. Hawaii - Rename to "Hawaii Time (USA)"
4. Pacific US - Rename to "Pacific Time (USA)
5. Mo

[2022-03-03 04:41] KrisRecoveryDharma commented on #84
😍

I love it when  plan comes together ❤️

On Wed, Mar 2, 2022, 7:12 PM Tom Raley ***@***.***> wrote:

[2022-03-03 04:43] KrisRecoveryDharma commented on #103
I like this idea.
Let's add it to the list of to-do's.
Not crucial for functioning, but helpful.

On Wed, Mar 2, 2022, 9:22 PM A. Thomas Tran ***@***.***>
wrote:

[2022-03-03 04:44] KrisRecoveryDharma commented on #102
I just checked it out and it looks great!

On Wed, Mar 2, 2022, 7:11 PM Tom Raley ***@***.***> wrote:

[2022-03-03 05:11] KrisRecoveryDharma commented on #103
Done!

[2022-03-03 05:11] #103 closed

[2022-03-03 05:11] KrisRecoveryDharma commented on #102
Complete!

[2022-03-03 05:11] #102 closed

[2022-03-03 05:11] #86 closed

[2022-03-03 05:13] KrisRecoveryDharma commented on #46
Resolved

[2022-03-03 05:13] #46 closed

[2022-03-03 05:16] KrisRecoveryDharma commented on #27
3-2-1-0
When I close this Git Hub, there will be ZERO issues listed!
I'm sure it is very temporary, but it feel very good at midnight the night before the launch

GOOOOOOO T.E.A.M!!!!  <3 <3 <3 <3

[2022-03-03 05:16] #27 closed

[2022-03-03 11:24] unity1979 opened #104 "Glossary: Sila has no definition when clicked on"
## 🐛 Describe the Bug

At https://recovery-dharma.flywheelsites.com/glossary/

The glossary term Sila has no definition revealed when clicked on.

## 📜 How To Reproduce

1. Go to https://recovery-dharma.flywheelsites.com/glossary/
2. Click on Sila
3. Notice nothing happens

## 🔎 Expected Behavior

Sila is removed. (It is never used in the book).

## 🖼 Screenshots

<img width="540" alt="image" src=

[2022-03-03 11:34] unity1979 opened #105 "Sangha-Groups: Typos"
## 🐛 Describe the Bug

On https://recovery-dharma.flywheelsites.com/get-started/sangha-groups/ there are a handful of typos

## 📜 How To Reproduce

1. Go to https://recovery-dharma.flywheelsites.com/get-started/sangha-groups/
2. Click on Meetings
3. Notice typos:
• responsibilties → responsibilities
• facilitaor → facilitator
• recommeded → recommended
• postitions → positions

## 🔎 Expected Behav

[2022-03-03 11:37] unity1979 commented on #105
Also in Growth.

4. Click on dropdown Growth:
5. Notice Buddist → Buddhist

Should be corrected to Buddhist

[2022-03-03 11:44] unity1979 opened #106 "In Meetings page, Text color is very hard to read/blends into graphic background"
## 🐛 Describe the Bug

On https://recovery-dharma.flywheelsites.com/meetings/ it is hard to read
1. The Practice and text (when scrolling over the Top Left of 6 rectangles)
2. The About Meetings and text

## 📜 How To Reproduce

1. Go to https://recovery-dharma.flywheelsites.com/meetings/
2. Scroll down below Meeting Materials
3. Mouse Over the top left black&white rectangle and notice it's difficu

[2022-03-03 12:19] unity1979 opened #107 "in Meetings page "We are...leaderless" is false, contradicting, and has caused real harm to doing Service in RD"
## 🤔 Tell Us About the Feature

Simple proposal: "We are decentralized and [peerled]"

On the page https://recovery-dharma.flywheelsites.com/meetings/ is an important, controvertial, false quote:

<img width="418" alt="image" src="https://user-images.githubusercontent.com/70724023/156660853-44e43ce4-3186-43b5-9446-ae2e5007d1a4.png">

"We are decentralized and **leaderless**," where other parts of

[2022-03-03 16:25] unity1979 commented on #107
Again, this _seems_ trivial! In practice, "leaderless" is untrue, repeatedly creating confusion. Here is an example in practice, where the use of the word "lead" is removed from the script. See http://bit.ly/rdo-meeting-script-discussion screenshot below.

<img width="757" alt="image" src="https://user-images.githubusercontent.com/70724023/156605032-cc42a139-21a7-4131-8cf6-68418700adba.png">

In t

[2022-03-03 16:38] nutjob4life commented on #107
Outside my bailiwick! I just handle the EventOn plugin. Hope y'all can figure out the right verbiage.

[2022-03-03 17:59] KrisRecoveryDharma commented on #107
Hey  Thomas,
This is a worthwhile discussion and debate, but not a part of the website team.  I am happy to keep this open and unresolved for now.

If you have an alternative quote you'd like to suggest, feel free to post it here. The one on Equanimity and balance is about Effort; not meetings.

Thanks!
Kris

[2022-03-03 18:00] KrisRecoveryDharma commented on #106
Thanks Tom,
These two items are design questions.
Lacey and Tom are the team members focused on this aspect of the site.

Thanks!

[2022-03-03 18:10] KrisRecoveryDharma commented on #105
Resolved

[2022-03-03 18:10] #105 closed

[2022-03-03 18:14] KrisRecoveryDharma commented on #104
Sila was added but was not part of the original list.
It has been deleted for now.
Resolved
Thanks!
Kris

[2022-03-03 18:14] #104 closed

[2022-03-03 18:20] KrisRecoveryDharma opened #108 "Footer Links"
Hey folks,

The following links in the footer do not go where they need to go.
For this moment, I need to get back to the paid work, but I just wanted to bookmark this for later addition of the correct links.
Thanks!
Kris

[Form 990](https://recoverydharma.org/book/#)
[501c3 Documentation](https://recoverydharma.org/book/#)
[Board Meeting Minutes](https://drive.google.com/drive/folders/1bc-s3F4Ul0

[2022-03-03 21:58] unity1979 commented on #106
Resolved

[2022-03-03 21:58] #106 closed

[2022-03-03 22:11] KrisRecoveryDharma opened #109 "The About Page has lost his Banner Art and Title"
Hi Tom R

Uh-Oh!
The artwork and title of the About Page have disappeared!

https://recoverydharma.org/about/
![image](https://user-images.githubusercontent.com/70176719/156661199-0b0de9fe-e7d3-4cc1-94e2-b20f15cec8a9.png)

Thank,

Kris

[2022-03-03 22:17] KrisRecoveryDharma commented on #107
Thank you for the feedback.
I'm going to close this for now.
Feel free to open it back up if you have an alternative quote you want to propose.
Thanks,
Kris

[2022-03-03 22:21] tom-raley commented on #109
@KrisRecoveryDharma I have no idea why this is happening. It's fine when logged in and fine on the flywheel site. I'll keep investigating, but Firespring might know?

[2022-03-03 22:21] tom-raley commented on #109
@KrisRecoveryDharma I think this is fixed if you want to check again on your end.

[2022-03-03 23:40] unity1979 commented on #107
Thank you for allowing me to feel heard, Kris. Great suggestion on proposing an alternative. The remainder of the same quote is really good, so perhaps:

**Proposed Replacement Quote:**
"[There] are no rules to follow other than that the meeting should be an open, safe, and accessible space that tries to uphold our core principles of mindfulness, compassion, forgiveness, and generosity." — Recover

[2022-03-04 01:54] KrisRecoveryDharma commented on #109
Yes!
It is fine now
It must have been a temp glitch thing
Thanks!

On Thu, Mar 3, 2022, 5:21 PM Tom Raley ***@***.***> wrote:

[2022-03-04 15:51] #109 closed

[2022-03-04 22:26] KrisRecoveryDharma opened #110 "Events Page is not pulling events from the Blog"
Hi Tom R,

The events page should be pulling anything that is categorized as an Event. The results should display as a list of all past and current events - with the current events at the top of the page.

https://recoverydharma.org/events/

We need to either make sure that event posts are correctly categorized and/or we need to see if there is a broken link with the page.

Thanks!

Kris

[2022-03-05 04:07] tom-raley commented on #110
@KrisRecoveryDharma I'll take a look. For what it's worth, this is not the page I set up for Events. Firespring must have changed it for some reason. I'll see if it's easy to revert back to the version I had created :)

[2022-03-05 04:11] tom-raley commented on #110
@KrisRecoveryDharma Looks like Firespring installed an events plugin that was overwriting the URL I had for the events page. I changed that plugin URL to events-plugin, so now ours is working again :)

[2022-03-05 04:12] #110 closed

[2022-03-07 15:54] Lacey-boop opened #111 "Contact page not sending emails to info@recoverydharma.org"
Our board member Randy flagged this. It looks like messages aren't going to the info@recoverydharma.org address
Could you look into this?

thanks!

[2022-03-07 16:52] tom-raley commented on #111
@Lacey-boop I updated the form to point to that email and submitted a test contact form. Can you verify that it went through?

[2022-03-07 19:17] Lacey-boop commented on #111
Looks like we’re good, thanks!

On Mon, Mar 7, 2022 at 11:52 AM Tom Raley ***@***.***> wrote:

--
Lacey Browne
President
Recovery Dharma Global
pronouns: she/her

[2022-03-07 19:20] #111 closed

[2022-03-07 23:58] #107 closed

[2022-03-08 20:41] KrisRecoveryDharma opened #112 "Find a meeting is not showing up"
Find a meeting is showing the navigation bars, but no content

https://recoverydharma.org/find-a-meeting/
![image](https://user-images.githubusercontent.com/70176719/157321301-39af646a-9a00-468b-bb6f-2c5ddde5c2dc.png)

[2022-03-08 20:55] KrisRecoveryDharma commented on #112
It must have been a glitch! It is working now
Kris

[2022-03-08 21:11] KrisRecoveryDharma commented on #108
Here are the updates and changes for the footer.
Thanks

* Form 990 - https://drive.google.com/file/d/1lsN2fcnfAFNx-ehJsokEAX7b6swzgUCw/view?usp=sharing
* 501c3 Documentation - Erase
* Board Meeting Minutes - correct no change
* Treasurer Reports - Erase

[2022-03-08 23:00] unity1979 commented on #112
Additional info: The meeting-list page seems to be Nested within the meeting-list page

![image](https://user-images.githubusercontent.com/70724023/157340260-92b013b7-84db-4c36-86c1-61c63ceeb6bd.png)

[2022-03-08 23:08] unity1979 opened #113 "Book & Contact pages not showing up correctly (similar to find-a-meeting)"
The navigation bar appears twice (possibly nested). It looks like the find-a-meeting page bug.
• https://recoverydharma.org/book/
• https://recoverydharma.org/contact/

2 Screenshots:
• https://recoverydharma.org/book/
![image](https://user-images.githubusercontent.com/70724023/157341040-66837eef-227b-4783-a313-04f82c66921d.png)

• https://recoverydharma.org/contact/
![image](https://user-images.g

[2022-03-08 23:12] unity1979 commented on #112
(Side note: The Contact page and Book page also appear with double-navigation bar. See #113)
• https://recoverydharma.org/book/
• https://recoverydharma.org/contact/

[2022-03-09 01:34] KrisRecoveryDharma commented on #113
Consolidating - Adding Find A meeting to this Issue
https://recoverydharma.org/find-a-meeting/

New insight - the banners are not showing up on these pages. The rest of the content seems to be fine.

[2022-03-09 01:35] KrisRecoveryDharma commented on #112
Closing and consolidating with the other issue.

Kris

[2022-03-09 01:35] #112 closed

[2022-03-09 01:42] KrisRecoveryDharma commented on #108
Resolved
I think I just needed to be patient for the footer to load.

[2022-03-09 01:42] #108 closed

[2022-03-09 01:50] #113 closed

[2022-03-09 01:52] KrisRecoveryDharma commented on #113
Resolved! They are showing up now! :-)

[2022-03-09 01:52] KrisRecoveryDharma commented on #112
Resolved - It is showing up now!

[2022-03-09 02:09] KrisRecoveryDharma opened #114 "Intermitent - Banner of Find A Meeting not showing up"
It coms and it goes. Other pages are stable at the moment of this writing.

https://recoverydharma.org/find-a-meeting/

[2022-03-13 19:26] KrisRecoveryDharma opened #115 "SEO (?) for Recovery"

[2022-03-13 19:42] KrisRecoveryDharma commented on #115
The board was talking about our recent issue with amazon.  One of the things we noticed was that when someone searches for the recovery dharma book, it does not pop up in the list.

Are there any steps we can take to help make sure it pops up on the list?

[2022-03-14 05:26] unity1979 commented on #115
Could not reproduce (fortunately?). I used these steps and the RD Book from Amazon always appeared within the top few results. Search term “Recovery Dharma Book” with search engines used: Google, Brave, Bing, DuckDuckGo, Ecosia, Qwant. Also used Amazon search and it showed up.

Were there different steps to reproduce?

screenshot
![949B06CB-6095-4EC1-A05D-E7A39A404A91](https://user-images.githubus

[2022-03-22 23:34] Lacey-boop opened #116 "Delete pop up"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [X ] deleting content

Hi!
Can you figure out how to get rid of the "Welcome to the new Recovery Dharma website!" pop up? I think we've had it up for long enough now.

[2022-03-23 18:17] tom-raley commented on #116
@Lacey-boop Should be fixed! Let me know if you're still seeing it.

[2022-03-23 18:17] #116 closed

[2022-03-24 01:18] Lacey-boop commented on #116
thanks!

On Wed, Mar 23, 2022 at 2:17 PM Tom Raley ***@***.***> wrote:

--
Lacey Browne
President
Recovery Dharma Global
pronouns: she/her

[2022-03-27 18:25] #114 closed

[2022-03-29 03:25] unity1979 opened #117 "Add Brazil Time Zone 🇧🇷 to meetings list"
The page is at:

https://recoverydharma.org/find-a-meeting/

Can we add the link with the text:
Brazil Time (Sao Paulo)

With the link:
http://docs.google.com/spreadsheets/d/13sb_3p0pX-WLMnQP9kOszR1WE5LeeeamycD_carKn0g/htmlview?pli=1#gid=1698426725

[2022-03-29 13:20] #117 closed

[2022-03-29 20:59] unity1979 opened #118 "Text for 6 meeting materials on front page disappears with Wide Browser"
On several pages (notably the front page: https://recoverydharma.org ) the text for the 6 materials (The Practice, 4NT, 8FP, DOM, CoreIntentions, Meditations) is sometimes invisible and disappears. This happens when a browser is extremely wide (Width > 900pixels).

Notice the text is invisible here with width >900.
<img width="896" alt="image" src="https://user-images.githubusercontent.com/7072402

[2022-03-30 04:56] #115 closed

[2022-03-30 05:01] KrisRecoveryDharma opened #119 "2022 Summit Banner"
https://recoverydharma.org/2022-sangha-summit/

Wish list - if you have time and if it's possible.

Goal:  Get the two buttons for Schedule and Register onto the same screen with the logo and title.

Idea:
- Move the round logo to the left,
- Put Sangha Summit 2022 and the dates to the right.
- that will move up the buttons so that they are on the same page
- Put all of it on top of the brand colo

[2022-03-30 15:18] tom-raley commented on #119
@KrisRecoveryDharma Just updated the page. Let me know if this works!

[2022-03-30 18:45] KrisRecoveryDharma commented on #119
Perfection!  Thank you!
Kris

[2022-03-30 18:45] #119 closed

[2022-04-07 19:21] KrisRecoveryDharma opened #120 "Add prominent links for Sangha Summit"
Hello,

We need to add a couple of links to help users navigate to the Sangha Summit page.

HOME PAGE
CTA Button
* Location: Under the Hero Header, to the right of "Read the Book"
* Text: Sangha Summit
* Design:  Same as Find a meeting (Clear background, White Border, White Text)
* Link: https://recoverydharma.org/2022-sangha-summit/

NAVIGATION BAR
"Meetings & Events"
Location: Under "Find a Meet

[2022-04-08 01:11] KrisRecoveryDharma commented on #120
The Navbar is complete!
Thank you @tom-raley!

It looks like the CTA button on the home page is a little more complicated. It seems as though the system will not allow us to put another CTA on the same line as the other two buttons.

Ideas:
* Create another module underneath the current one and add a CTA There
* Replace the Tagline with either a button or a hyperlink to register for the Sangha Sum

[2022-04-12 20:01] Lacey-boop opened #121 "Board member addition for About page"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Hello, can you add Sinyi Shi to the About page https://recoverydharma.org/about/
You can put Treasurer under her name (and delete Treasurer from Joel's)
Here's her blurb:
Recovery Dharma is a unique trauma-inf

[2022-04-13 19:46] #121 closed

[2022-04-14 12:54] #120 closed

[2022-04-14 12:56] tom-raley commented on #118
I noticed this bug right before we launched, so I set a breakpoint at 980px screen width so that screens smaller than that should have the text visible. Unfortunately, it's hard to code for every single possible screen size. My recommendation if we're concerned about touch devices (where there is no hover effect) with large screens, then we should remove the hover effect altogether and just have t

[2022-04-24 16:13] KrisRecoveryDharma commented on #118
As far as I understood, this is the expected behavior of the widget or template.
I suggest closing this item.
Kris

[2022-04-24 16:16] KrisRecoveryDharma opened #122 "Pop up on home page - Go to the Sangha Summit"
We need a pop-up for the front page that says "Go to the Sangha Summit!

It needs to link to the 2022 sangha summit landing page.  https://recoverydharma.org/2022-sangha-summit/

Kris Roehling

[2022-04-26 19:14] tom-raley commented on #122
Hey @KrisRecoveryDharma for this--do we want something similar to the pop up that was there when the site first launched? Or did you have something else in mind?

[2022-04-30 20:54] joelro87 opened #123 "Summit schedules are updated"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [X] replacing existing content
- [ ] deleting content

## 🔍 Details

There are new files for the 2022 Programming Details and Schedule and Schedule with Time Zones images for the Summit pages. So these will need to replace the existing ones that are linked. I can a

[2022-05-02 16:35] #123 closed

[2022-05-04 17:40] #118 closed

[2022-05-04 18:21] unity1979 opened #124 "Request: New Meeting List layout: See image for new left side layout for Affinity Online meetings"
To logically separate Affinity Online meetings from the Online (Timezone) Meetings, I wanted to suggest this layout:

<img width="575" alt="image" src="https://user-images.githubusercontent.com/70724023/166800119-aa3c87d3-d360-4ee1-a092-534ed304bfc6.png">

What do you think?

[2022-05-04 18:21] unity1979 commented on #124
Old Layout:
<img width="673" alt="image" src="https://user-images.githubusercontent.com/70724023/166800696-aca207c9-84f8-427a-8a9f-b7f9eb7b90ae.png">

[2022-05-04 18:33] unity1979 opened #125 "Meeting list requires URL updates for easy access to 🪑In-Person meetings"
@ recoverydharma.org/meeting-list

Many people have been confused about being unable to find their In-Person meetings, mistakeningly believing their meetings have been removed.

This can be eased by changing the URL to enable tabs at the top to be shown like so:
<img width="771" alt="image" src="https://user-images.githubusercontent.com/70724023/166802324-c2e011e0-2ae3-4dc2-b347-b5ef7c25c19b.png">

[2022-05-04 22:20] KrisRecoveryDharma commented on #125
I am not understanding the solution through text.  Let's chat by phone.

[2022-05-05 12:19] KrisRecoveryDharma commented on #124
Iike it!
Will work on ot this weekend

On Wed, May 4, 2022, 2:22 PM A. Thomas Tran ***@***.***>
wrote:

[2022-05-05 18:02] unity1979 commented on #124
(leaving the text here for notes)

In-Person Meetings
[🪑In-Person Meetings (Spreadsheet)](https://docs.google.com/spreadsheets/d/13sb_3p0pX-WLMnQP9kOszR1WE5LeeeamycD_carKn0g/edit?fbclid=IwAR3S9VWQhc7xX1gd2KaXsk-ILX0a_Q1Blki-uP-AF7IAKdRYAkxMcW6WcgI#gid=1492891510)

Affinity Online Meetings
[💞Affinity Meetings Guide (Topic-Focused or Identity-Focused)](https://docs.google.com/spreadsheets/d/13sb_3p0

[2022-05-05 18:06] unity1979 opened #126 "Meetings List: "Women and Nonbinary Meetings" link does not work as expected (should be removed)"
At: https://recoverydharma.org/find-a-meeting/

The link "Women and Nonbinary Meetings"

No longer exists, because it lives in part of the Affinity Meetings tab.

Steps to Reproduce:
Click on: [Women and Nonbinary Meetings](https://docs.google.com/spreadsheets/u/4/d/e/2PACX-1vQmuN3eHggYoR9maoLttce3MkZLTZ0UTByIv_lKK7MbXEElHMBCwD_HX8aP3d1Tcp-J7TihbPgatLWL/pubhtml?gid=1394082114&single=false#)

Notic

[2022-05-10 04:53] #126 closed

[2022-05-10 04:53] KrisRecoveryDharma commented on #126
Resolved

[2022-05-10 04:53] KrisRecoveryDharma commented on #125
Resolved

[2022-05-10 04:53] #125 closed

[2022-05-10 04:53] KrisRecoveryDharma commented on #125
Resolved

[2022-05-10 04:54] KrisRecoveryDharma commented on #124
Resolved

[2022-05-10 04:54] #124 closed

[2022-05-10 14:11] unity1979 opened #127 "meeting list: In-Person meeting link goes to the single=true (single-tab) version"
Kris, last night, we were able to switch all the URLs for spreadsheet meeting links go to multi-tabbed versions of each meeting list (single=false). 🥳 Yay!

Unfortunately as it turns out, In-Person is still pointing to single=true. We just need to flip it to single=false to make it consistent with all the other links.

Here's what In-Person links to now:
<img width="548" alt="image" src="https://u

[2022-05-10 18:55] tom-raley commented on #122
@KrisRecoveryDharma Looks like Divi Overlays is what was used to create the site launch one. They have a library of templates we can use, but you have to log in to Divi in order to access the templates. The only template we currently have available is the one used for site launch which covers the whole screen. So this might be a firespring thing where they would need to upload a different overlay

[2022-05-12 06:13] KrisRecoveryDharma commented on #122
That is fine, then.  Go ahead with the whe screen version

On Tue, May 10, 2022, 12:56 PM Tom Raley ***@***.***> wrote:

[2022-05-12 20:34] tom-raley commented on #122
@KrisRecoveryDharma Ok, this is now live on the site. Let me know if the design looks ok. The entire page is a link except for the close button, as the current overlay module won't allow me to use hyperlinks except for to make the entire page a link basically. I also implemented a 7 day cookie after a user closes the overlay, so it won't keep bugging them every time they go to the site, but will g

[2022-05-12 22:41] #122 closed

[2022-05-13 17:26] Lacey-boop opened #128 "Bulletin-Summit Keynote speaker"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

Can you please publish this as a bulletin, you can make this as the headline: Learn more about the 2022 Sangha Summit’s Keynote Speaker: Fresh “Lev” White!

[Fresh _Lev_ White.pdf](https://github.com/RecoveryD

[2022-05-14 00:54] KrisRecoveryDharma commented on #128
Hi Lacey.

Can you send this as a good do. So tjat we can orenjaysofer easily.extract
the content and publish it as a page woth content?

Thank you!

On Fri, May 13, 2022, 12:26 PM Lacey-boop ***@***.***> wrote:

[2022-05-14 01:07] Lacey-boop commented on #128
A Google doc? Tom actually already published it, I think it’s looking good
:
https://recoverydharma.org/learn-more-about-the-2022-sangha-summits-keynote-speaker-fresh-lev-white/

On Fri, May 13, 2022 at 8:54 PM Kris Recovery Dharma <
***@***.***> wrote:

--
Lacey Browne
President
Recovery Dharma Global
pronouns: she/her

[2022-05-14 01:13] KrisRecoveryDharma commented on #128
As a Google doc

On Fri, May 13, 2022, 7:54 PM Kris Recovery Dharma ***@***.***>
wrote:

[2022-05-14 01:16] KrisRecoveryDharma commented on #128
Yay!  It does indeed look nice.  This weekend, I will work on the Survey
Says.  That will make a good couple of articles for a newsletter mailing.

On Fri, May 13, 2022, 8:13 PM Kris Recovery Dharma ***@***.***>
wrote:

[2022-05-14 01:27] #128 closed

[2022-05-17 04:12] #127 closed

[2022-05-18 16:40] KrisRecoveryDharma opened #129 "2022 Sangha Summit Scholarship Form"
# ✋ Hold it!

I gave it a go at creating the content.  I discovered that creating a new page is one step above my current skill level.

## 📕 Summary

NEW URL:  https://recoverydharma.org/2022-sangha-summit/scholarship-app

This form will be used by members who want to apply for a registration scholarship to the 2022 Sangha Summit.

## 🔍 Details

Replace this with detailed information about the req

[2022-05-21 03:17] tom-raley commented on #129
@KrisRecoveryDharma Page is live here: https://recoverydharma.org/2022-sangha-summit/scholarship-app/

Let me know your thoughts!

[2022-05-21 04:05] KrisRecoveryDharma commented on #129
This looks great!
Thanks!

On Fri, May 20, 2022, 11:17 PM Tom Raley ***@***.***> wrote:

[2022-05-23 15:34] tom-raley commented on #129
Sounds good! I'll leave the issue open till we figure out how we want to link it on the main page.

[2022-05-27 09:04] Lacey-boop commented on #129
Thanks Thom, Hi @tom-raley could you add a section  right under the address forms that reads:
Type of scholarship requested (Required):
-In Person
-Online

[2022-05-27 11:04] tom-raley commented on #129
@KrisRecoveryDharma I am actually traveling all weekend and won’t really have access to a computer.

But if you go in to the Forms section in the back end of Wordpress and edit the scholarship form, you should be able to drag and drop a checkbox field into the form and once you save, it’ll update the front end.

Let me know if that works, otherwise I’ll try and make the update later today.

[2022-05-31 15:58] tom-raley commented on #129
@KrisRecoveryDharma @Lacey-boop @unity1979 the scholarship form has been updated with the radio buttons. Let me know if we need anything else!

[2022-06-02 16:01] unity1979 opened #130 "Summit landing page appears misformatted, with double-navigation menu"
## 🐛 Describe the Bug

After clicking on the initial "Click here to go to the Sangha Summit page! button
![image](https://user-images.githubusercontent.com/70724023/171671784-9ee610e5-c870-467b-88cd-842cec9504cc.png)

I ended up on a misformatted sangha summit page at https://recoverydharma.org/2022-sangha-summit/

This occurred on:
• iPhone Chrome
• mac OS Chrome
• mac OS Safari
(screenshots prov

[2022-06-03 18:31] tom-raley commented on #130
@unity1979 This seems to be fixed now. I have no idea why it keeps happening. @KrisRecoveryDharma @Lacey-boop Firespring might know more?

[2022-06-16 16:24] KrisRecoveryDharma opened #131 "Banner is not loading"
The banner is not loading for the Sangha Summit Page

💥 https://recoverydharma.org/2022-sangha-summit/

## 🔎 Expected Behavior
The banner shows when going to the page - including the links to register, apply for a scholarship and participate in the Survey Says

## 🖼 Screenshots

If you have any screenshots that help, attach them.
![image](https://user-images.githubusercontent.com/70176719/17411870

[2022-06-21 14:14] Lacey-boop opened #132 "News Post for ASAP"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [X ] new content
- [ ] replacing existing content
- [ ] deleting content

Hey Tom, could you post this today if possible? Also I was thinking you could teach me how to do these posts myself on the site so I don't have to bug you with it

thank you!

The headline can be
2022 Annual M

[2022-06-22 01:34] #132 closed

[2022-07-10 18:56] KrisRecoveryDharma opened #133 "Getting RDG Site to populate at the top of Google searches"
Hey Friends,

I received a query from a board member about RDG not popping up until the 10th page of a Google Search.
My response was that there is an app and a process for that, but we have not prioritized it yet. First we have had other priorities, but also that we wanted to get the whole site up and running - particularly the meeting list - before making a big splash on the Internet.

If I reme

[2022-07-10 20:18] nutjob4life commented on #133
Ugh.

It looks like some settings left on in development that prevent the site from being indexed were _left on_ once it went into production. For example, this box was checked:

![Screen Shot 2022-07-10 at 3 15 34 PM](https://user-images.githubusercontent.com/814813/178160803-0b75b5e5-e46b-4af1-9e29-8e29fbe69d0d.png)

I've unchecked it. I'm now going through numerous other settings to identify th

[2022-07-10 21:02] nutjob4life commented on #133
Here's what I've done so far:

- Added site tagline (meta desc)
- Added sitemap.xml
- Added Google site verification to `recoverydharma.org` DNS TXT record
- Added `recoverydharma.org` to Google Search Console

And most importantly:

- Fixed the `robots.txt` file which was telling every search engine to steer clear of our site 😱

I'm waiting on caches to clear so the new `robots.txt` file starts t

[2022-07-10 21:07] KrisRecoveryDharma commented on #133
Thank you!
I will notify the board member that we've found a solution!
I thought it was going to be a bigger deal! I'm glad they brought it to our attention.

[2022-07-10 21:25] nutjob4life commented on #133
Thanks @KrisRecoveryDharma.

Update: as of _right now_ (see the time of this posting) I see the new `robots.txt` file is being circulated. We will need to wait a few days to see how this affects our SEO.

[2022-07-12 04:19] KrisRecoveryDharma commented on #133
Thank you, Sean, for ensuring this issue has been fully documented.
Kris

On Sun, Jul 10, 2022 at 5:26 PM Sean Kelly ***@***.***> wrote:

[2022-07-16 23:26] KrisRecoveryDharma commented on #133
Sean reported:

My results when searching "buddhist recovery" are:

* Standard browser, logged into [Google.com](http://google.com/): BRN, RR, RD
* Private browser on Google: BRN, RR, RD
* TOR browser via Russian proxy on Google: BRN, RR, RD
* Standard browser, DuckDuckGo: BRN, Online Recovery and Meditation Meetings, Buddhist Recovery Circle, RR, Buddhist * Recovery Eugene, Eight Step Recovery, R

[2022-07-16 23:27] KrisRecoveryDharma commented on #133
Sean Suggested:

We can get it higher. A good way is to have other sites link to us as much as possible. Tell your friends to write articles about us and link to [recoverydharma.org](http://recoverydharma.org/). Talk about it on your blog and link to [recoverydharma.org](http://recoverydharma.org/). Tweet about it and link it. Make Facebook postings that link it. Got a Tumblr? Make a post that lin

[2022-07-16 23:27] KrisRecoveryDharma commented on #133
The issues is closed for the moment.

Kris will bring the possibility of partnering with other organizations to the Communications Committee and to the Board.

[2022-07-21 15:31] unity1979 commented on #130
Closing issue as it seems intermittent and fixes itself!

[2022-07-21 15:31] #130 closed

[2022-07-21 15:32] unity1979 commented on #129
Closing issue, all has been addressed

[2022-07-21 15:32] #129 closed

[2022-07-21 15:32] unity1979 commented on #131
Closing issue as it seems intermittent. Can open again if it re-appears

[2022-07-21 15:32] #131 closed

[2022-07-21 15:36] unity1979 opened #134 "Meeting list: clicking on Brazil incorrectly loads the In-Person page"
## 🐛 Describe the Bug

Hi Tom, a Brazilian friend pointed Brazilians are confused that that clicking on Brazil (Sao Paulo) results in loading the In-Person page:
![image](https://user-images.githubusercontent.com/70724023/180254075-65b30c46-6c75-494d-9395-97a91e3a922a.png)

It should be loading the Brazil page, which URL is:
https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vQmuN3eHggYoR9maoLttc

[2022-07-24 18:19] KrisRecoveryDharma opened #135 "Add RDG IDEA Book Grant Application to the site"
## 📕 Summary

New Content - New Page

https://recoverydharma.org/resources/book_grant/

## 🔍 Details
The form has been created in the Forms section of Word Press.
Now, we need a page with a banner and room for the introductory text above the form.

The google doc with the introductory text can be found here:
https://docs.google.com/document/d/1Sl0qckzX3Bvx_TSnekAECP22DSONY-ZdoH5NILFZhWQ/edit?usp=s

[2022-07-24 18:21] KrisRecoveryDharma opened #136 "Add RDG Volunteer Application to the site"
New Content - New Page

https://recoverydharma.org/get-started/service/volunteer_application

🔍 Details
The form has been created in the Forms section of Word Press.
Now, we need a page with a banner and room for the introductory text above the form.

The google doc with the introductory text can be found here:

https://docs.google.com/document/d/12dNvvsCmG-0XGP8RrQHceb-4SApUp9iBbLuZB6bh9m8/edit?u

[2022-07-25 23:41] KrisRecoveryDharma commented on #136
I have created a page!
https://recoverydharma.org/get-started/service/volunteer-application/

Thank you, Tom,  for your tutoring! It is not all that I wanted, but it will do for now.
The last step of the process is to get it to show up in the Nav Bar.  I can't seem to find my way around that Divi.

[2022-07-28 22:49] KrisRecoveryDharma commented on #136
Complete and Live

[2022-07-28 22:49] #136 closed, assigned to tom-raley, KrisRecoveryDharma, Lacey-boop

[2022-07-28 22:50] KrisRecoveryDharma commented on #135
Completed literature review process and is live on the site under resources

[2022-07-28 22:50] #135 closed, assigned to tom-raley, KrisRecoveryDharma, Lacey-boop

[2022-07-29 13:49] Lacey-boop opened #137 "ASAP Please: Take Down Summit buttons/links etc."
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ ] new content
- [ ] replacing existing content
- [X ] deleting content

Hey Tom, could you take down the pop up on the homepage, and the button that takes you to the Summit landing page.
On the landing page https://recoverydharma.org/2022-sangha-summit/
Can you please take down th

[2022-07-29 14:52] KrisRecoveryDharma commented on #137
WAIT!!!!!  That page has information that attendees need!!!

[2022-07-29 14:54] KrisRecoveryDharma commented on #137
Rosana Dana says... nevermind!  I understand now

[2022-07-29 14:54] #137 closed, assigned to tom-raley

[2022-07-29 15:02] KrisRecoveryDharma opened #138 "Set up Forms to send all info in notification"
Hi Tom,

Forms on Form List:
* Book Grant Application
* Volunteer Application

I was able to successfully set up the Volunteer form and the Book Grant Form - and their pages.
There is one piece I have not been able to figure out.

We have the notification going to info@recoverydharma.org

However, I have not been able to figure out how to send all of the information IN the notification.  We have a

[2022-07-31 17:16] unity1979 commented on #134
@KrisRecoveryDharma Gui go from Brazil says clicking on the link leads to the wrong place. Can we simply replace the existing Brazil link with this:

https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vQmuN3eHggYoR9maoLttce3MkZLTZ0UTByIv_lKK7MbXEElHMBCwD_HX8aP3d1Tcp-J7TihbPgatLWL/pubhtml?gid=1698426725&si#

[2022-07-31 20:00] #134 closed

[2022-08-02 17:24] unity1979 opened #139 "Friends-Mentors: Link to RD Portland's Mentorship PDF leads to 404"
## 🐛 Describe the Bug

On https://recoverydharma.org/resources/friends-mentors/
Under "Just Ask" the link to [Recvoery Dharma Portland’s Mentorship Guide](https://recoverydharmapdx.org/resources/mentorship-guidelines-recovery-dharma.pdf)
Goes to a 404

<img width="413" alt="image" src="https://user-images.githubusercontent.com/70724023/182435910-ec076479-08d6-48cd-8530-4fa7bf04fe18.png">

## 📜 How

[2022-08-02 18:07] #139 closed, assigned to tom-raley, KrisRecoveryDharma

[2022-08-03 05:18] KrisRecoveryDharma commented on #138
Placed this command in the text of the notification message:  {all_fields}

[2022-08-03 05:18] #138 closed, assigned to nutjob4life, tom-raley, Lacey-boop

[2022-08-03 05:19] KrisRecoveryDharma commented on #133
Issue closed

[2022-08-03 05:19] #133 closed

[2022-08-06 07:57] KrisRecoveryDharma opened #140 "Remove the Sangha Summit Pop-Up"
The Sangha Summit Overlay on the front page is still popping up.

I tried to find it to remove it but wasn't confident enough to make a change to the home page.

Page:  https://recoverydharma.org

Behavior:  Sangha Summit continues to pop up intermitently.
Expected Behavior:  The pop-up will discontinue.

Thanks,

Kris

[2022-08-10 19:28] KrisRecoveryDharma opened #141 "Banner on Finda A Meeting page has disappeared. Please Replace"
https://recoverydharma.org/find-a-meeting/

The banner at the top of the page has disappeared. This is causing people to believe that the meeting list is not working.  Please reload it as soon as possible.

Weird:  When I login to the site as a user, then the banner shows up. But if I am not logged in then it does not show up

Here is a screen shot of the page as it shows up when first clicked on

[2022-08-23 21:24] Lacey-boop opened #142 "New Survey form"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Please place this under Practice Play and Presence as a block to click on
block can be called Summit Participant Survey

can you have the results sent to conference@recoverydharma.org

each question can just h

[2022-08-29 20:36] Lacey-boop opened #143 "New board member"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [x ] new content
- [ ] replacing existing content
- [ ] deleting content

Make sure you mention URLs! Tell where the content should appear, get changed, be deleted, etc.
Hi!
We have a new board member, could you add him to the About page? thank you!

Scott Jaworski

Recovery Dharma

[2022-09-05 21:43] Lacey-boop opened #144 "Keynote speaker form for Events page"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

This is for a post on the Events page: https://recoverydharma.org/events/
please have the responses sent to the conference@recoverydharma.org email.
thank you!

The Events Committee is seeking nominations for

[2022-10-11 06:56] KrisRecoveryDharma commented on #129
I am familiar enough now with word press that I can add it.
Kris

On Fri, May 27, 2022, 7:05 AM Tom Raley ***@***.***> wrote:

[2022-10-11 07:50] KrisRecoveryDharma commented on #131
Fixed.

Thsnks!

On Thu, Jun 16, 2022, 12:24 PM Kris Recovery Dharma <
***@***.***> wrote:

[2022-10-27 14:04] Lacey-boop opened #145 "New Diversity and Accessibility page under Resources"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Hi Tom, I think theres a Diversity & Accessibility page already created but hidden. We've updated the language on it and I send you the google doc w/ the new language. https://docs.google.com/document/d/1pHsl4

[2022-11-06 23:43] Lacey-boop opened #146 "Spanish Language meeting Script"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [ X] new content
- [ ] replacing existing content
- [ ] deleting content

Can you please add a new link under Sample Scripts and Formats (same style as the others)
Formato de reunión in Español
here is the link: https://docs.google.com/document/d/1K7-RAxyhjcoTXqi39kfFiHyPSnC5cJenvOc

[2022-11-07 01:53] #146 closed, assigned to tom-raley

[2022-11-30 14:13] #145 closed, assigned to tom-raley

[2022-11-30 14:30] Lacey-boop opened #147 "New 2023 Elections page"
## 📕 Summary

Replace this with a brief description of the content you want changed. Make sure to check if this is
- [x ] new content
- [ ] replacing existing content
- [ ] deleting content

Hi Tom, I sent you all the google docs so hopefully you're all set with permissions. This is the main page of info: https://docs.google.com/document/d/1yTkyg1gihAsp633dV5ZkJ83HDF7ITlK-r9TRsuJKIh4/edit

I'm won

[2022-11-30 17:34] KrisRecoveryDharma commented on #147
Hey all,  Is it possible to have this simplified URL for the page?
recoverydharma.org/election_2023
Thanks!